<h1><small>Editar Proveedor</small></h1>
<hr />
<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="../listarproveedor">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>
<br />
<div class="row animated fadeIn faster" mb-3 row>
  <div class="col">
    <form  [formGroup]="loginForm" action="">
        <form class="row g-3" [formGroup]="loginForm">
        <div class="col-md-4">
            <div class="form-group">
              <label for="inputEmail4" class="form-label">Nombre Proveedor</label>
              <input
              type="text"
              [(ngModel)]="proveedores[0].nombre_proovedor"
              name="nombre_proovedor"
              class="form-control"
              formControlName="nombre_proovedor"
              id="nombre_proovedor"
            />
            </div>
            <div class="form-group">
              <label for="inputAddress" class="form-label">Direccion</label>
              <input
              type="text"
              [(ngModel)]="proveedores[0].direccion_proovedor"
              name="direccion_proovedor"
              class="form-control"
              formControlName="direccion_proovedor"
              id="direccion_proovedor"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputPassword4" class="form-label">RUC</label>
              <input 
              type="text"
              [(ngModel)]="proveedores[0].ruc_proovedor"
              name="ruc_proovedor"
              class="form-control"
              formControlName="ruc_proovedor"
              id="ruc_proovedor"/>
            </div>
            <div class="form-group">
              <label for="inputAddress2" class="form-label">EMAIL</label>
              <input
              type="text"
              [(ngModel)]="proveedores[0].email_proovedor"
              name="email_proovedor"
              class="form-control"
              formControlName="email_proovedor"
              id="email_proovedor"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputPassword4" class="form-label">TELEFONO</label>
              <input  
              type="text"
              [(ngModel)]="proveedores[0].telefono_proovedor"
              name="telefono_proovedor"
              class="form-control"
              formControlName="telefono_proovedor"
              id="telefono_proovedor"/>
            </div>
            <div class="form-group">
              <label for="inputAddress" class="form-label">PAIS</label>
              <select 
              type="text"
              [(ngModel)]="proveedores[0].idPais"
              name="id"
              class="form-control"
              formControlName="idPais"
              id="idPais">            
                <option *ngFor="let pais of paises" [ngValue]="pais.id">
                  {{ pais.nombre_pais }}
                </option>
              </select>
            </div>
          </div>
        </form>



        
        <div class="form-group">
            <label for="inputAddress" class="form-label">Departamento</label>
            <select
            
            [(ngModel)]="proveedores[0].idDepartamento"
            name="id"
            class="form-control"
            formControlName="idDepartamento"
            id="idDepartamento"         
            (change)="onSelectDepartamento($event.target.value)"
            >           
              <option
                *ngFor="let departamento of departamentos"
                value="{{ departamento.id }}"
              >
                {{ departamento.nombre }}
              </option>
            </select>
          </div>
    
          <div class="form-group" *ngIf="provincias.length > 0" >
            <label for="inputAddress" class="form-label">Provincia</label>
            <select
            id="idProvincia"
            formControlName="idProvincia"
            class="form-control"
            [(ngModel)]="proveedores[0].idProvincia"
            (change)="onSelectProvincia($event.target.value)"
            >
              <option
                *ngFor="let provincia of provincias"
                value="{{ provincia.id }}"
              >
                {{ provincia.nombre_provincia }}
              </option>
            </select>
          </div>
    
          <div class="form-group" *ngIf="distritos.length > 0">
            <label for="inputAddress" class="form-label">Distrito</label>
            <select
            
            [(ngModel)]="proveedores[0].idDistrito"
            name="id"
            class="form-control"
            formControlName="idDistrito"
            id="idDistrito"
            >
              <option
                *ngFor="let distrito of distritos"
                [ngValue]="distrito.id"
              >
                {{ distrito.nombre_distrito }}
              </option>
            </select>
          </div>
    
          <br />
      <div class="form-group">
        <label>Estado</label>
        <br />
        <button
          *ngIf="proveedores[0].estado"
          (click)="proveedores[0].estado = false"
          class="btn btn-outline-success w-50"
          type="button"
        >
          <i class="fa fa-smile-wink"></i>
          Activo
        </button>
        <button
          *ngIf="!proveedores[0].estado"
          (click)="proveedores[0].estado = true"
          class="btn btn-outline-danger w-50"
          type="button"
        >
          <i class="fa fa-dizzy"></i>
          Inactivo
        </button>
      </div>
      <hr />
      <div class="form-group text-center">
        <button (click)="Actualizar([proveedores[0]])" class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Actualizar
        </button>
      </div>
    </form>
  </div>
</div>
    
