

<h1><small>Agregar Modelo</small></h1>
<hr />
<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="../listarmodelo">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>
<br />
<div class="row animated fadeIn faster">
  <div class="col">
    <form [formGroup]="loginForm" (ngSubmit)="AddModelo(loginForm.value)">
      <div class="form-group">
        <label  class="form-label">Nombre Modelo</label>
        <input
        style="text-transform:uppercase"
          type="text"
          id="nombre_modelo"
          class="form-control"
          placeholder="Nombre Modelo"
          formControlName="nombre_modelo"
          
        />
      </div>

      <br />
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>


