<h1>Listado Almacenes</h1>
<hr />
<div class="row">
  <div class="col text-right">
    <button routerLink="/mantenimientos/addalmacen" class="btn btn-primary">
      <i class="fa fa-plus"> Agregar </i>
    </button>
  </div>
</div>
<table
  *ngIf="!cargando && almacenes.length > 0"
  class="table mt-3 animated fadeIn faster animated fadeIn faster"
>
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Codigo Almacén</th>
      <th scope="col">Nombre Almacén</th>
      <th scope="col">Dirección</th> 
      <!-- <th scope="col">TIPO TIENDA</th>  -->
      <th scope="col">Estado</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let almacen of almacenes; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ almacen.cod_alamcen}}</td>
      <td>{{ almacen.nombre_alamcen }}</td> 
      <td>{{ almacen.direccion_almacen}}</td>
 
      <!-- <td>
        <label *ngIf="almacen.tipoAlmacen == 1 "
          >PRINCIPAL</label
        >
        <label *ngIf="almacen.tipoAlmacen == 2 "
          >TIENDA</label
        >
      </td> -->
      <td>
        <label *ngIf="almacen.estado" class="badge badge-success"
          >Activo</label
        >
        <label *ngIf="!almacen.estado" class="badge badge-danger"
          >Inactivo</label
        >
      </td>

      <td>
        <button class="btn btn-info mr-1" (click)="Editar(almacen, i)">
          <!--" la ruta seria producto/nuevo pero la transfomamos a producto/id"--><!-- Mndando un id en la ruta la ruta se manda en [] porque es una ruta dinamica cuando no se envia con llaves es una ruta dinamica como la que esta arriba-->
          <i class="fa fa-pen"></i>
        </button>
        <!-- <button class="btn btn-danger" (click)="Delete(nrocuenta, i)">
          <i class="fa fa-trash"></i> 
        </button> -->
      </td>
    </tr>
  </tbody>
</table>
<div
  *ngIf="!cargando && almacenes.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">No hay registros</h4>
  <p>
    <i class="fa fa-exclamation fa-2px"></i>
  </p>
  <p class="mb-0">Espere por favor</p>
</div>
<div
  *ngIf="cargando"
  class="alert alert-info text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2px"></i>
  </p>
  <p class="mb-0">Espere por favor</p>
</div>
