<div class="col-md-12">
  <div class="card"> 
          <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                      <span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">ESTADOS</span>
                  </a>
                  <div class="dropdown-menu"> 
                    <a class="dropdown-item" id="dropdown1-tab"[routerLink]="['../listarentrada']" role="tab" data-toggle="tab" aria-controls="dropdown1">Activas</a> 
                    <a class="dropdown-item" id="dropdown2-tab" [routerLink]="['../listarentradaanulada']"  role="tab" data-toggle="tab" aria-controls="dropdown2">Anuladas</a> </div>
              </li> 
          </ul> 
  </div>
</div> 
  <h1>Listado Entrada Almacén Anuladas </h1>
  <hr />

  <table class="table table-hover">
    <thead class="thead-dark">
      <th scope="col">#</th>
        <th scope="col">#Ingreso Almacén Nro</th>
          <th scope="col">Nro de Orden Compra</th>
          <th scope="col">Tipo Ingreso</th> 
       <th scope="col">Empleado</th>  
       <th scope="col">Estado</th>
        <!--  <th scope="col">Total</th>
        <th scope="col">Estado</th> -->
      
    </thead>
    <tbody>
        <tr *ngFor="let item of Entradas; let i = index" >
          <th scope="row">{{ i + 1 }}</th>
          <th (click)=" openForEdit(item.id) ">{{item.codigoIngreso}}</th>
           <td (click)=" openForEdit(item.id)">{{item.detalleOrden[0].codigo_orden_num}}</td>
           <td (click)=" openForEdit(item.id)">{{item.detalleTipoIngreso[0].descripcion_ingreso}}</td>
           <td (click)=" openForEdit(item.id)">{{item.detalleOrden[0].detalleEmpleado[0].nombre_empleado}}</td>
           <td>
            <label *ngIf="item.idFlujo == 2" class="badge bg-success"
              >
  
              Cerrado</label
            >
            <label *ngIf="item.idFlujo == 1" class="badge bg-warning text-dark"
              >Pendiente</label
            >
            <label *ngIf="item.idFlujo == 3" class="badge bg-danger text-dark"
            >Anulado</label
          >
          </td>
     
 
        </tr>
      </tbody>
  </table>
  
  <div
    *ngIf="!cargando && Entradas.length === 0"
    class="alert alert-warning text-center mt-3 animated fadeIn faster"
  >
    <h4 class="alert-heading">No hay registros</h4>
    <p>
      <i class="fa fa-exclamation fa-2px"></i>
    </p>
    <p class="mb-0">Espere por favor</p>
  </div>
  <div
    *ngIf="cargando"
    class="alert alert-info text-center mt-3 animated fadeIn faster"
  >
    <h4 class="alert-heading">Cargando</h4>
    <p>
      <i class="fa fa-sync-alt fa-spin fa-2px"></i>
    </p>
    <p class="mb-0">Espere por favor</p>
  </div>