<h4 class="dispaly-4">Insertar Productos</h4>
<hr />
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="formData.id" />
  <input
    type="hidden"
    name="idCotizacion"
    #idCotizacion="ngModel"
    [(ngModel)]="formData.idCotizacion"
  />
  <input
  type="hidden"
  name="nombre_producto"
  #nombre_producto="ngModel"
  [(ngModel)]="formData.nombre_producto"
/>
<!-- <input
type="text"
name="precio_unidad"
#precio_unidad="ngModel"
[(ngModel)]="formData.precio_unidad"
/> -->
<!-- <input
type="hidden"
name="detalleProducto"
#detalleProducto="ngModel"
[(ngModel)]="formData.detalleProducto"
/> -->
<input
type="hidden"
name="idProducto"
#idProducto="ngModel"
[(ngModel)]="formData.idProducto"
/>

  <div class="form-row">
   
    <div class="form-group col-md-7">
      <label>Buscar Producto</label> 
        <ng-select
            style="text-transform: uppercase"
              #idProducto="ngModel"
              name="idProducto"
              bindValue="idProducto"
              placeholder="Buscar Producto"
              [(ngModel)]="formData.idProducto"
              (change)="onChange($event)"
            >
              <ng-option *ngFor="let emp of productos" [value]="emp.id" [disabled]="emp.estado == 0">{{
                emp.nombre_producto
              }}</ng-option>
            </ng-select>



    </div>
    <div class="form-group col-md-2">
      <label>Unidad Medida </label> 
      <input
      type="text"
        name="detalleNameUnidadMedida"
        #detalleNameUnidadMedida="ngModel"
        [(ngModel)]="formData.detalleNameUnidadMedida"
        class="form-control"
        readonly
     
      />
    </div>
    <div class="form-group col-md-2">
      <label>Cantidad</label> 
      <input
      type="number"
        name="cantidad"
        #cantidad="ngModel"
        [(ngModel)]="formData.cantidad"
        class="form-control" 
        (keyup)="updateTotal()"
        (change)="onDecimal()"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-2">
      <label>Precio Unitario</label>
      <input
      type="number" 
        name="precio_unidad"
        #precio_unidad="ngModel"
        [(ngModel)]="formData.precio_unidad"
        class="form-control" 
        (keyup)="updateTotal()"
        (change)="onDecimal()"
      />
    </div>

    <div class="form-group col-md-2">
      <label>Precio Total</label>
      <input
      
        name="precio_total"
        #precio_total="ngModel"
        [(ngModel)]="formData.precio_total"
        class="form-control"
        readonly
      />
    </div>

    <div class="form-group col-md-7">
      <label>Observaciones</label>
      <input
      style="text-transform:uppercase"
        name="observaciones"
        #observaciones="ngModel"
        [(ngModel)]="formData.observaciones"
        class="form-control"
        placeholder="Ingresar Obs"
      />
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-dark">
      <i class="fa fa-database"></i> Guardar
    </button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]>
      <i class="fa fa-close"></i> Salir
    </button>
  </div>
</form>
