<h4 class="dispaly-4">Insertar Productos</h4>
<hr />
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="formData.id" />
    <input
    type="hidden"
    name="idEntradaSinOc"
    #idEntradaSinOc="ngModel"
    [(ngModel)]="formData.idEntradaSinOc"
  /> 
  <input
  type="hidden"
  name="nombre_producto"
  #nombre_producto="ngModel"
  [(ngModel)]="formData.nombre_producto"
/>
<input
type="hidden"
name="idProducto"
#idProducto="ngModel"
[(ngModel)]="formData.idProducto"
/>
 
<input
type="hidden" 
name="nombre_alamcen"
#nombre_alamcen="ngModel"
[(ngModel)]="formData.nombre_alamcen"
/>

<input
type="hidden" 
name="idSedePrincipal"
#idSedePrincipal="ngModel"
[(ngModel)]="formData.idSedePrincipal"
/>

<div class="form-row">
    <div class="form-group col-md-4">
        <label>Buscar Producto</label>
      
        <ng-select 
        [items]="productos"
       bindLabel="nombre_producto"
       bindValue="id" 
       placeholder="Buscar Producto"
       [(ngModel)]="formData.idProducto"
       (change)="onChange($event)"
       required
       
        >
  
  </ng-select>
      </div>
      <div class="form-group col-md-4">
        <label>Unidad Medida </label> 
        <input
        type="text"
          name="detalleNameUnidadMedida"
          #detalleNameUnidadMedida="ngModel"
          [(ngModel)]="formData.detalleNameUnidadMedida"
          class="form-control"
          readonly
       
        />
      </div>

      <div class="form-group col-md-4">
       <label>Almacén</label> 
       <ng-select 
       [items]="almacenes"  
       bindLabel="nombre_alamcen"
       bindValue="id"   
       placeholder="Buscar Almacén" 
       [(ngModel)]="formData.idSedePrincipal" 
       (change)="onChangeAlmacen($event)">
    
    </ng-select>   
      </div>
      <div class="form-row">   
      <div class="form-group col-md-4">
        <label>Cantidad Solicitada</label> 
        <input
        type="number"
          name="cantidad"
          #cantidad="ngModel"
          [(ngModel)]="formData.cantidad"
          class="form-control"
          [class.is-invalid]="cantidad.invalid && cantidad.touched"
          required
        />
        <small *ngIf="cantidad.invalid && cantidad.touched "
        class="form-text text-danger">Ingrese Cantidad</small>
        <!-- [class.is-invalid]="!isValid && formData.cantidad == 0" -->
      </div>
      <div class="form-group col-md-4">
        <label>Precio Unitario</label>
        <input
        type="number"
          name="precioUnitario"
          #precioUnitario="ngModel"
          [(ngModel)]="formData.precioUnitario"
          class="form-control"
          [class.is-invalid]="precioUnitario.invalid && precioUnitario.touched"
          required
          (keyup)="updateTotal()"
        />
        <small *ngIf="precioUnitario.invalid && precioUnitario.touched"
        class="form-text text-danger">Ingrese Precio</small>
      </div>
      <div class="form-group col-md-4">
        <label>Precio Total</label>
        <input
        type="number"
          name="precioTotal"
          #precioTotal="ngModel"
          [(ngModel)]="formData.precioTotal"
          class="form-control"
          readonly

        />
      </div>
      </div>
</div>

<div class="form-row">
  
      <div class="form-group col-md-3">
        <label>Cantidad Recibida</label> 
        <input
        
        type="number"
          name="cantidadPrincipal"
          #cantidadPrincipal="ngModel"
          [(ngModel)]="formData.cantidadPrincipal" 
          class="form-control" 
          required
        />
        <!-- [class.is-invalid]="cantidadPrincipal.invalid && cantidadPrincipal.touched"
        <small *ngIf="cantidadPrincipal.invalid && cantidadPrincipal.touched"
        class="form-text text-danger">Ingrese Cantidad</small> -->
      </div>
      <div class="form-group col-md-9">
        <label>Observaciones</label>
        <input
          name="observaciones"
          #observaciones="ngModel"
          [(ngModel)]="formData.observaciones"
          class="form-control"
          [class.is-invalid]="observaciones.invalid && observaciones.touched"
          required
        />
      </div>
 
    
</div>
 
  <div class="form-group">
    <button type="submit" class="btn btn-dark">
      <i class="fa fa-database"></i> Guardar
    </button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]>
      <i class="fa fa-close"></i> Salir
    </button>
  </div>
</form>