<h4 class="dispaly-4">Insertar Productos</h4>
<hr />
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="formDataOC.id" />
    <input
    type="hidden"
    name="idEntradaSinOc"
    #idEntradaSinOc="ngModel"
    [(ngModel)]="formDataOC.idEntradaSinOc"
  /> 
  <input
  type="hidden"
  name="nombre_producto"
  #nombre_producto="ngModel"
  [(ngModel)]="formDataOC.nombre_producto"
/>

<input
type="hidden" 
name="nombre_alamcen"
#nombre_alamcen="ngModel"
[(ngModel)]="formDataOC.nombre_alamcen"
/>

<input
type="hidden" 
name="idSedePrincipal"
#idSedePrincipal="ngModel"
[(ngModel)]="formDataOC.idSedePrincipal"
/>
<input
type="hidden"
name="idProducto"
#idProducto="ngModel"
[(ngModel)]="formDataOC.idProducto"
/>
 
<div class="form-row">
    <div class="form-group col-md-4">
        <label>Buscar Producto</label> 
        <ng-select 
        style="text-transform:uppercase"
        [items]="productos"
       bindLabel="nombre_producto"
       bindValue="id" 
       placeholder="Buscar Producto"
       [(ngModel)]="formDataOC.idProducto"
       (change)="onChange($event)"
       
        >
  
  </ng-select>  
      </div>
      <div class="form-group col-md-4">
        <label>Unidad Medida </label> 
        <input
        style="text-transform:uppercase"
        type="text"
          name="detalleNameUnidadMedida"
          #detalleNameUnidadMedida="ngModel"
          [(ngModel)]="formDataOC.detalleNameUnidadMedida"
          class="form-control"
          readonly
       
        />
      </div>

      <div class="form-group col-md-4">
       <label>Almacén</label> 
       <ng-select  
       style="text-transform:uppercase"
       #idSedePrincipal="ngModel"  
       name="idSedePrincipal" 
       bindValue="idSedePrincipal" 
       placeholder="Buscar Almacén" 
       [(ngModel)]="formDataOC.idSedePrincipal"  
     >   
         <ng-option *ngFor="let emp of almacenes" [value]="emp.id">{{emp.nombre_alamcen}}</ng-option>
      </ng-select> 
 
      </div>
      <div class="form-row">   
      <div class="form-group col-md-3">
        <label>Cantidad Solicitada</label> 
        <input
        type="number"
          name="cantidad"
          #cantidad="ngModel"
          [(ngModel)]="formDataOC.cantidad"
          class="form-control"
          [class.is-invalid]="cantidad.invalid && cantidad.touched"
          required
        />
        <small *ngIf="cantidad.invalid && cantidad.touched "
        class="form-text text-danger">Ingrese Cantidad</small>
        <!-- [class.is-invalid]="!isValid && formData.cantidad == 0" -->
      </div>
      <div class="form-group col-md-3">
        <label>Precio Unitario</label>
        <input
        type="number"
          name="precioUnitario"
          #precioUnitario="ngModel"
          [(ngModel)]="formDataOC.precioUnitario"
          class="form-control"
          [class.is-invalid]="precioUnitario.invalid && precioUnitario.touched"
          required
          (keyup)="updateTotal()"
        />
        <small *ngIf="precioUnitario.invalid && precioUnitario.touched"
        class="form-text text-danger">Ingrese Precio</small>
      </div>
      <div class="form-group col-md-3">
        <label>Precio Total</label>
        <input
        type="number"
          name="precioTotal"
          #precioTotal="ngModel"
          [(ngModel)]="formDataOC.precioTotal"
          class="form-control"
          readonly

        />
      </div>
      <div class="form-group col-md-3">
        <label>Cantidad Recibida</label> 
        <input
        
        type="number"
          name="cantidadPrincipal"
          #cantidadPrincipal="ngModel"
          [(ngModel)]="formDataOC.cantidadPrincipal" 
          class="form-control" 
          required
        />

      </div>
      </div>
</div>

<div class="form-row">
  
     
      <div class="form-group col-md-12">
        <label>Observaciones</label>
        <input
        style="text-transform:uppercase"
          name="observaciones"
          #observaciones="ngModel"
          [(ngModel)]="formDataOC.observaciones"
          class="form-control"
       
        />
      </div>
 
    
</div>
 
  <div class="form-group">
    <button type="submit" class="btn btn-dark">
      <i class="fa fa-database"></i> Guardar
    </button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]>
      <i class="fa fa-close"></i> Salir
    </button>
  </div>
</form>