<h1>Listado General Kardex sin O/C</h1>
<hr />
<div class="row"></div>
<table class="table table-hover">
  <thead class="thead-dark">
    <th scope="col">#</th>
    <th scope="col">Producto</th>
    <th scope="col">Unidad Medida</th>
    <th scope="col">Precio Unidad</th>
    <th scope="col">Almacén Principal</th>
    <th scope="col">Cantidad Principal</th>
    <th scope="col">Almacén Secundario</th>
    <th scope="col">Cantidad Secundario</th>
    <th scope="col">Fecha Ingreso</th>
    <!--  <th scope="col">Total</th>
      <th scope="col">Estado</th> -->
  </thead>
  <tbody>
    <tr *ngFor="let item of ListKardex; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <th (click)="openForEdit(item.id)">{{ item.detalleNameProducto }}</th>
      <td (click)="openForEdit(item.id)">{{ item.detalleNameUnidadMedida }}</td>
      <td (click)="openForEdit(item.id)">{{ item.detallePrecioUnidad }}</td>
      <td (click)="openForEdit(item.id)">
        {{ item.detalleSedePrincipal[0].nombre_alamcen }}
      </td>
      <td (click)="openForEdit(item.id)">{{ item.cantidadPrincipal }}</td>

      <td *ngIf="item.detalleSedeSecundaria.length === 0">No hay Productos</td> 
      <td *ngIf="item.detalleSedeSecundaria.length > 0">
        {{ item.detalleSedeSecundaria[0].nombre_alamcen }}
      </td>
      
      <td *ngIf="item.cantidadSecundaria === null">0</td>  
      <td *ngIf="item.cantidadSecundaria != null">{{ item.cantidadSecundaria }}</td> 
      <!-- <td *ngIf="item.cantidadSecundaria ==! null">{{ item.cantidadSecundaria }}</td>  -->
      <td (click)="openForEdit(item.id)">
        {{ item.detalleFechaIngreso }}
      </td>

      <td>
        <label *ngIf="item.estadoflujo == 2" class="badge bg-success">
          Kardex</label
        >
      </td>
      <!-- </td> -->
    </tr>
  </tbody>
</table>

<div
  *ngIf="!cargando && ListKardex.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">No hay registros</h4>
  <p>
    <i class="fa fa-exclamation fa-2px"></i>
  </p>
  <p class="mb-0">Espere por favor</p>
</div>
<div
  *ngIf="cargando"
  class="alert alert-info text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2px"></i>
  </p>
  <p class="mb-0">Espere por favor</p>
</div>
