<h1>Listado Kardex  </h1>
<hr />
<div class="row">
  <div class="col text-right">
    <button routerLink="/kardex/ingresoalmacen" class="btn btn-primary">
      <i class="fa fa-plus"> Agregar </i>
    </button>
  </div>
</div>
<table class="table table-hover">
  <thead class="thead-dark">
    <th scope="col">#</th>
      <th scope="col">Producto</th>
        <th scope="col">Unidad Medida</th>
        <th scope="col">Tipo Ingreso</th> 
     <th scope="col">Empleado</th>  
     <th scope="col">Estado</th>
      <!--  <th scope="col">Total</th>
      <th scope="col">Estado</th> -->
    
  </thead>
  <tbody>
      <tr *ngFor="let item of ListKardex; let i = index" >
        <th scope="row">{{ i + 1 }}</th>
        <th (click)=" openForEdit(item.id) ">{{item.detalleNameProducto}}</th>
         <td (click)=" openForEdit(item.id)">{{item.detalleNameUnidadMedida}}</td>
         <td (click)=" openForEdit(item.id)">{{item.detalleTipoIngreso[0].descripcion_ingreso}}</td>
         <td (click)=" openForEdit(item.id)">{{item.detalleOrden[0].detalleEmpleado[0].nombre_empleado}}</td>
         <td>
          <label *ngIf="item.idFlujo == 2" class="badge bg-success"
            >

            Cerrado</label
          >
          <label *ngIf="item.idFlujo == 1" class="badge bg-warning text-dark"
            >Pendiente</label
          >
          <label *ngIf="item.idFlujo == 3" class="badge bg-danger text-dark"
          >Anulado</label
        >
        </td>
        <td>
          <button class="btn btn-outline-dark" (click)="EstadoEntradaAnular(item, i)">
               <i class="far fa-times-circle"></i>
       </button>  
    
 
      </td>  
 
      </tr>
    </tbody>
</table>

<div
  *ngIf="!cargando && ListKardex.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">No hay registros</h4>
  <p>
    <i class="fa fa-exclamation fa-2px"></i>
  </p>
  <p class="mb-0">Espere por favor</p>
</div>
<div
  *ngIf="cargando"
  class="alert alert-info text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2px"></i>
  </p>
  <p class="mb-0">Espere por favor</p>
</div>
