<h4 class="dispaly-4">Precio Venta</h4>
<hr />

<form #form="ngForm" autocomplete="off"   *ngIf="formData" (submit)="onSubmit(form)">
 
<input
type="hidden" 
name="idProducto"
#idProducto="ngModel"
[(ngModel)]="formData.idProducto"
/> 
 
<div class="form-row">
    <div class="form-group col-md-4">

     <label>Producto</label>
        <input
          name="nombre_producto"
          #nombre_producto="ngModel"
          [(ngModel)]="formData.nombre_producto"
          class="form-control"
          readonly
        /> 

    </div>
    <!-- 
    -->
    <div class="form-group col-md-4">
        <label>Stock</label>
        <input
          name="cantidadGlobalKardex"
          #cantidadGlobalKardex="ngModel"
          [(ngModel)]="formData.cantidadGlobalKardex"
          class="form-control"
          readonly
        />
    </div> 
    <div class="form-group col-md-4">
        <label>Precio Promedio </label>
        <input
          name="precioUnidadPromedio"
          #precioUnidadPromedio="ngModel"
          [(ngModel)]="formData.precioUnidadPromedio"
          class="form-control"
          readonly
        />
    </div> 
</div>

 <div class="form-row">
 
    <div class="form-group col-md-4">
        <label>Precio Venta Salida</label>
        <input
        type="number"
          name="cantidadSalida"
          #cantidadSalida="ngModel"
          [(ngModel)]="formData.cantidadSalida"
          class="form-control"
     
        />
    </div>
 
    <div class="form-group col-md-4">
      <label> Fecha  Precio</label> 
    
      <input
      
      [matDatepicker]="picker"
      placeholder="DD/MM/YYYY" 
      name="fechaSalida"
      #fechaSalida="ngModel" 
      [(ngModel)]="formData.fechaSalida"
      class="form-control" 
      [class.is-invalid]="fechaSalida.invalid && fechaSalida.touched" 
      required
    
    />
    <small *ngIf="fechaSalida.invalid && fechaSalida.touched"
    class="form-text text-danger">Ingrese Fecha</small>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>
      
    </div>
    <div class="form-group col-md-4">
        <label>Detalle Venta</label>
        <input
        type="number"
          name="descripcion_salida"
          #descripcion_salida="ngModel"
          [(ngModel)]="formData.descripcion_salida"
          class="form-control"
     
        />
    </div>
</div>
  
<br>


  <div class="form-group">
    <button type="submit" class="btn btn-dark">
      <i class="fa fa-database"></i> Guardar
    </button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]>
      <i class="fa fa-close"></i> Salir
    </button>
  </div>
</form>
