
<form
#form="ngForm"
autocomplete="off"
class="justify-content-center"
(submit)="onSubmit(form)"
>
<div class="row"> 


<div class="col-md-4">
    <div class="form-group">
        <label> Seleccionar Cliente </label>
        <ng-select  
        style="text-transform:uppercase"
          #idCliente="ngModel"  
          name="idCliente" 
          bindValue="idCliente" 
          placeholder="Buscar Cliente" 
          [(ngModel)]="formData.idCliente"  
        >   
            <ng-option *ngFor="let emp of clientes" 
            [value]="emp.id">{{emp.nombre_cliente}}</ng-option>
         </ng-select> 
      </div>
</div>

<div class="col-md-4">
    <div class="form-group">
        <label> Seleccionar Categoría </label>
        <ng-select  
        style="text-transform:uppercase"
          #idCategoria="ngModel"  
          name="idCategoria" 
          bindValue="idCategoria" 
          placeholder="Buscar Categoría Cliente" 
          [(ngModel)]="formData.idCategoria"  
        >   
            <ng-option *ngFor="let emp of categoriaCliente" 
            [value]="emp.id">{{emp.descripcion_catcli}}</ng-option>
         </ng-select> 
      </div> 
</div>

<div class="col-md-4">
    <div class="form-group">
        <label> Seleccionar Campaña </label>
        <ng-select  
        style="text-transform:uppercase"
          #idCampain="ngModel"  
          name="idCampain" 
          bindValue="idCampain" 
          placeholder="Buscar Campaña Venta" 
          [(ngModel)]="formData.idCampain"  
         
        >   
            <ng-option *ngFor="let emp of campania" 
            [value]="emp.id"  [disabled]="emp.estado == 0">{{emp.descripcion_campain}}</ng-option>
            
         </ng-select> 
      </div> 
</div>
</div>

<div class="row"> 


  <div class="col-md-4">
    <div class="form-group">
        <label> Departamento</label>
        <ng-select  
        style="text-transform:uppercase"
        #idDepartamento="ngModel"  
        name="idDepartamento" 
        bindValue="idDepartamento" 
        placeholder="Buscar Departamento" 
        [(ngModel)]="formData.idDepartamento"  
        (change)="onSelectDepartamento($event)"
      >   
      <!-- <ng-option *ngFor="let emp of departamentos" [value]="0">Buscar Departamento</ng-option> -->
          <ng-option *ngFor="let emp of departamentos" [value]="emp.id">{{emp.nombre}}</ng-option>
       </ng-select> 
      </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
        <label> Provincia</label>
        <ng-select  
        style="text-transform:uppercase"
        #idProvincia="ngModel"  
        name="idProvincia" 
        bindValue="idProvincia" 
        placeholder="Buscar Provincia" 
        [(ngModel)]="formData.idProvincia" 
        (change)="onSelectProvincia($event)"
      >   
      <!-- <ng-option *ngFor="let emp of provincias" [value]="0">Buscar Provincia</ng-option> -->
          <ng-option *ngFor="let emp of provincias" [value]="emp.id">{{emp.nombre_provincia}}</ng-option>
       </ng-select> 
      </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
        <label> Distrito</label>
        <ng-select  
          style="text-transform:uppercase"
        #idDistrito="ngModel"  
        name="idDistrito" 
        bindValue="idDistrito" 
        placeholder="Buscar Distrito" 
        [(ngModel)]="formData.idDistrito"  
      >   
      <!-- <ng-option *ngFor="let emp of distritos" [value]="0">Buscar Distrito</ng-option> -->
          <ng-option *ngFor="let emp of distritos" [value]="emp.id">{{emp.nombre_distrito}}</ng-option>
       </ng-select> 
      </div>
  </div>
  <div class="col-md-8">
      <button type="submit" class="btn btn-dark">
          <i class="fa fa-database"></i> Consultar
        </button>
  </div> 
</div>

&nbsp;
<div class="row">
  <div class="col-md-8">
<th>
  <button   *ngIf="!cargando && detalleReporteCliente.length > 0" mat-raised-button  color="primary"  (click)="exportAsXLSX()">Exportar
      <mat-icon>trending_down</mat-icon>
    
    </button>
 
</th>
  </div>
</div>
&nbsp;
<!-- ORDER ITEMS TABLE -->
<div class="example-container mat-elevation-z8" *ngIf="!cargando && detalleReporteCliente.length > 0">
  <table mat-table [dataSource]="detalleReporteCliente" class="mat-elevation-z8" *ngIf="!cargando && detalleReporteCliente.length > 0">
    <!-- <ng-container matColumnDef="numOrdenVenta" sticky> -->
      <ng-container matColumnDef="nro" sticky>
        <th mat-header-cell *matHeaderCellDef><b>NRO</b>  </th>
        <td mat-cell *matCellDef="let detalleReporteCliente; let i = index"> {{ i + 1 }} </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>
      <ng-container matColumnDef="codigoCliente"  >
      <th mat-header-cell *matHeaderCellDef><b>CODIGO</b>  </th>
      <td mat-cell *matCellDef="let detalleReporteCliente"> {{detalleReporteCliente.codigoCliente}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>
  
    <ng-container matColumnDef="nombre_cliente" >
      <th mat-header-cell *matHeaderCellDef> <b>NOMBRES</b>  </th>
      <td mat-cell *matCellDef="let detalleReporteCliente"> {{detalleReporteCliente.nombre_cliente | uppercase }} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
      <ng-container matColumnDef="nombre_categoria">
      <th mat-header-cell *matHeaderCellDef> <b>CATEGORIA</b> </th>
      <td mat-cell *matCellDef="let detalleReporteCliente"> {{detalleReporteCliente?.nombre_categoria | uppercase}} </td>
      <td mat-footer-cell *matFooterCellDef>  </td>
    </ng-container> 
    <ng-container matColumnDef="nombre_departamento">
      <th mat-header-cell *matHeaderCellDef> <b>DEPARTAMENTO</b> </th>
      <td mat-cell *matCellDef="let detalleReporteCliente"> {{detalleReporteCliente?.nombre_departamento | uppercase }} </td>
      <td mat-footer-cell *matFooterCellDef>  </td>
    </ng-container> 
   
    <ng-container matColumnDef="nombre_provincia">
      <th mat-header-cell *matHeaderCellDef> <b>PROVINCIA</b> </th>
      <td mat-cell *matCellDef="let detalleReporteCliente"> {{detalleReporteCliente?.nombre_provincia| uppercase }} </td>
      <td mat-footer-cell *matFooterCellDef>  </td>
    </ng-container> 
    <ng-container matColumnDef="nombre_distrito">
      <th mat-header-cell *matHeaderCellDef> <b>DISTRITO</b> </th>
      <td mat-cell *matCellDef="let detalleReporteCliente"> {{detalleReporteCliente?.nombre_distrito | uppercase}} </td>
      <td mat-footer-cell *matFooterCellDef><B> TOTAL CLIENTE: </B>   </td>
    </ng-container> 
  
    <ng-container matColumnDef="email_cliente">
      <th mat-header-cell *matHeaderCellDef> <b>CORREO</b> </th>
      <td mat-cell *matCellDef="let detalleReporteCliente"> {{detalleReporteCliente?.email_cliente | uppercase }} </td>
      <td mat-footer-cell *matFooterCellDef> <b> {{detalleReporteCliente?.length }}</b> </td>
    </ng-container>   

     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  </div>  
  <div

*ngIf="cargando && detalleReporteCliente?.length === 0"
class="alert alert-warning text-center mt-3 animated fadeIn faster"
>
<h4 class="alert-heading">No existen registros</h4>

</div>  


</form>
<div
*ngIf="loading"
class="alert alert-info text-center mt-3 animated fadeIn faster"
>
<h4 class="alert-heading">Cargando</h4>
<p>
  <i class="fa fa-sync-alt fa-spin fa-2px"></i>
</p>
<p class="mb-0">Espere por favor</p>
</div>
 
<br />
