
  .example-container {
    height: 900px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    text-align:center;
  }
  
  table {
    width: 100%;
  }
  

  td.mat-column-star {
    width: 2px;
    padding-right: 3px;
  }
  
  th.mat-column-nro, td.mat-column-nro,
  th.mat-column-codigoCliente, td.mat-column-codigoCliente,
  th.mat-column-nombre_cliente, td.mat-column-nombre_cliente,
  th.mat-column-nombre_categoria, td.mat-column-nombre_categoria,
  th.mat-column-nombre_departamento, td.mat-column-nombre_departamento,
  th.mat-column-nombre_provincia, td.mat-column-nombre_provincia,
  th.mat-column-nombre_distrito, td.mat-column-nombre_distrito,
  th.mat-column-email_cliente, td.mat-column-email_cliente 
  {
    padding-left: 10px;
    text-align:center;
    padding-right: 25px;
  }
 
  .mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }