<h1><small>Agregar Proveedor</small></h1>
<hr />
<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="../../listarproveedor">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>
<br />
<form
  #form="ngForm"
  autocomplete="off"
  *ngIf="formData"
  (submit)="onSubmit(form)"
>
<input
type="hidden"
name="id"
#id="ngModel"
[(ngModel)]="formData.id"
/>
 
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label> Nombre Proveedor</label>
        <input
        style="text-transform:uppercase"
        type="text"
          name="nombre_proovedor"
          #nombre_proovedor="ngModel"
          [(ngModel)]="formData.nombre_proovedor"
          class="form-control"
          placeholder="Ingresar Nombre Proveedor"
          [class.is-invalid]="nombre_proovedor.invalid && nombre_proovedor.touched"           
          required 
          maxlength="15"
     
        />
        <small *ngIf="nombre_proovedor.invalid && nombre_proovedor.touched"
        class="form-text text-danger">Ingresar Nombre</small>
      </div>
    </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Email</label>
          <input
          style="text-transform:uppercase"
          type="email"
            name="email_proovedor"
            #email_proovedor="ngModel"
            [(ngModel)]="formData.email_proovedor"
            class="form-control"
            placeholder="Ingresar Email"
            [class.is-invalid]="email_proovedor.invalid && email_proovedor.touched"           
            required 
            
          />
          <small *ngIf="email_proovedor.invalid && email_proovedor.touched"
          class="form-text text-danger">Ingresar Email</small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
            <label> Telefono</label>
          <input
          style="text-transform:uppercase"
          type="number"
            name="telefono_proovedor"
            #telefono_proovedor="ngModel"
            [(ngModel)]="formData.telefono_proovedor"
            class="form-control"
            placeholder="Ingresar Telefono"
            autocomplete="off"
          
          />
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-4"> 
        <div class="form-group">
          <label> RUC</label>
          <input
          class="form-control"
          type="number"
            name="ruc_proovedor"
            #ruc_proovedor="ngModel"
            [(ngModel)]="formData.ruc_proovedor"          
            placeholder="Ingresar Ruc"
            [class.is-invalid]="ruc_proovedor.invalid && ruc_proovedor.touched"           
            required            
          />
          <small *ngIf="ruc_proovedor.invalid && ruc_proovedor.touched"
          class="form-text text-danger">Ingresar Ruc</small>
        </div>
       
      
    </div>
    <div class="col-md-4"> 
      <div class="form-group">
        <label> Direccion</label>
        <input
        style="text-transform:uppercase"
        type="text"
          name="direccion_proovedor"
          #direccion_proovedor="ngModel"
          [(ngModel)]="formData.direccion_proovedor"
          class="form-control"
          placeholder="Ingresar Dirección"
          maxlength="30"
        />
      </div>
    
  </div>

 
  <div class="col-md-4">
    <label> Pais</label>
    <ng-select  
    #idPais="ngModel"  
    name="idPais" 
    bindValue="idPais" 
    placeholder="Buscar Pais" 
    [(ngModel)]="formData.idPais"  
     
  >    
 
      <ng-option *ngFor="let emp of paises" [value]="emp.id">{{emp.nombre_pais}}</ng-option>
   </ng-select> 
   <!-- {{formData.idPais| json}} -->
   <!-- <small   *ngIf="!this.isValid"   
          class="form-text text-danger">Ingresar Pais</small> -->


  </div>
  </div>
  <div class="row" *ngIf ="formData.idPais == 177">
 
    <div class="col-md-4">
      <div class="form-group">
        <label> Departamento</label>
        <ng-select  
        #idDepartamento="ngModel"  
        name="idDepartamento" 
        bindValue="idDepartamento" 
        placeholder="Buscar Departamento" 
        [(ngModel)]="formData.idDepartamento"  
        (change)="onSelectDepartamento($event)"
      >   
      <!-- <ng-option *ngFor="let emp of departamentos" [value]="0">Buscar Departamento</ng-option> -->
          <ng-option *ngFor="let emp of departamentos" [value]="emp.id">{{emp.nombre}}</ng-option>
       </ng-select> 
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label> Provincia</label>
        <ng-select  
        #idProvincia="ngModel"  
        name="idProvincia" 
        bindValue="idProvincia" 
        placeholder="Buscar Provincia" 
        [(ngModel)]="formData.idProvincia" 
        (change)="onSelectProvincia($event)"
      >   
      <!-- <ng-option *ngFor="let emp of provincias" [value]="0">Buscar Provincia</ng-option> -->
          <ng-option *ngFor="let emp of provincias" [value]="emp.id">{{emp.nombre_provincia}}</ng-option>
       </ng-select> 
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label> Distrito</label>
        <ng-select  
        #idDistrito="ngModel"  
        name="idDistrito" 
        bindValue="idDistrito" 
        placeholder="Buscar Distrito" 
        [(ngModel)]="formData.idDistrito"  
      >   
      <!-- <ng-option *ngFor="let emp of distritos" [value]="0">Buscar Distrito</ng-option> -->
          <ng-option *ngFor="let emp of distritos" [value]="emp.id">{{emp.nombre_distrito}}</ng-option>
       </ng-select> 
      </div>
    </div>
  </div>

 

  <div class="form-group">
    <button type="submit" class="btn btn-dark" 
  >
    <i class="fa fa-database"></i> Guardar </button>
   
  </div>
</form>
 