<h4 class="dispaly-4">Transferencias Producto</h4>
<hr />
 
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
 
  <input
  type="hidden" 
  name="idProducto"
  #idProducto="ngModel"
  [(ngModel)]="formData.idProducto"
  /> 
  <input
  type="hidden" 
  name="idAlmacen1"
  #idAlmacen1="ngModel"
  [(ngModel)]="formData.idAlmacen1"
  /> 
  <div class="form-row">
    <div class="form-group col-md-3">

      <label>Producto</label>
         <input
         style="text-transform:uppercase"
           name="nombre_producto"
           #nombre_producto="ngModel"
           [(ngModel)]="formData.nombre_producto"
           class="form-control"
           readonly
         />  
     </div>
     <div class="form-group col-md-3">

      <label>Unidad Medida</label>
         <input
         style="text-transform:uppercase"
           name="detalleNameUnidadMedida"
           #detalleNameUnidadMedida="ngModel"
           [(ngModel)]="formData.detalleNameUnidadMedida"
           class="form-control"
           readonly
         />  
     </div>
      <div class="form-group col-md-3">
  
        <label>Stock</label>
        <input
          name="cantidadIngresoOc"
          #cantidadIngresoOc="ngModel"
          [(ngModel)]="formData.cantidadIngresoOc"
          class="form-control"
          readonly
        />
      </div>
  
      <div class="form-group col-md-3">
        <label>Cantidad Transferencia</label>
        <input
        type="number"
          name="cantidadTransferencia"
          #cantidadTransferencia="ngModel"
          [(ngModel)]="formData.cantidadTransferencia"
          class="form-control"
     
        />
    </div>
  
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Almacén De:</label>
      <ng-select 
      style="text-transform:uppercase"
    [items]="almacenes"  
   bindLabel="nombre_alamcen"
   bindValue="id"   
   placeholder="Buscar Almacén" 
   [(ngModel)]="formData.idAlmacen1" 
   disabled
   > 
</ng-select> 

    </div>
      <div class="form-group col-md-3">
        <label>Almacén A:</label>  

        <ng-select 
        style="text-transform:uppercase"
        [items]="almacenes2"
       bindLabel="nombre_alamcen"
       bindValue="id" 
       placeholder="Buscar Almacén"
       name="idAlmacen2"  
       #idAlmacen2="ngModel"
       [(ngModel)]="formData.idAlmacen2"
     
       
        >
  
  </ng-select>


     <!-- <ng-select  
     style="text-transform:uppercase"
     #idAlmacen2="ngModel"  
     name="idAlmacen2" 
     bindValue="idAlmacen2" 
     placeholder="Buscar Almacén" 
     [(ngModel)]="formData.idAlmacen2"  
   >   
       <ng-option *ngFor="let emp of almacenes2" [value]="emp.id">{{emp.nombre_alamcen}}</ng-option>
    </ng-select>  -->
      </div>
    
      <div class="form-group col-md-3">
        <label>Detalle Transferencia</label>
        <input
        style="text-transform:uppercase"
        type="text"
          name="detalleTransferencia"
          #detalleTransferencia="ngModel"
          [(ngModel)]="formData.detalleTransferencia"
          class="form-control"
      
        />
        
      </div>
      <div class="form-group col-md-3">
        <label> Fecha  Transferencia</label>
      
      
        <input
        
        [matDatepicker]="picker"
        placeholder="DD/MM/YYYY" 
        name="fechaTransferencia"
        #fechaTransferencia="ngModel" 
        [(ngModel)]="formData.fechaTransferencia"
        class="form-control"  
        [class.is-invalid]="fechaTransferencia.invalid && fechaTransferencia.touched" 
        required
      
      />
      <small *ngIf="fechaTransferencia.invalid && fechaTransferencia.touched"
      class="form-text text-danger">Ingrese Fecha</small>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
        
      </div>
  </div>
   
  <br>
  
  
    <div class="form-group">
      <button type="submit" class="btn btn-dark">
        <i class="fa fa-database"></i> Guardar
      </button>
      <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]>
        <i class="fa fa-close"></i> Salir
      </button>
    </div>
  </form>
  