<h4 class="dispaly-4">Regularizar Almacén</h4>
<hr />

<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="formData.id" />

  <input
    type="hidden"
    name="idIngresoAlmacen"
    #idIngresoAlmacen="ngModel"
    [(ngModel)]="formData.idIngresoAlmacen"
  />  

  <input
  type="hidden" 
  name="idDetalleCotizacion"
  #idDetalleCotizacion="ngModel"
  [(ngModel)]="formData.idDetalleCotizacion"
/>  

<input
type="hidden" 
name="idSedePrincipal"
#idSedePrincipal="ngModel"
[(ngModel)]="formData.idSedePrincipal"
/> 
<input
type="hidden"
name="idIngresoAlmacen"
#idIngresoAlmacen="ngModel"
[(ngModel)]="formData.idIngresoAlmacen"
/>

  <input
  type="hidden"
  name="idProducto"
  #idProducto="ngModel"
  [(ngModel)]="formData.idProducto"
/>

<input
type="hidden"
name="precio_unidad"
#precio_unidad="ngModel"
[(ngModel)]="formData.precio_unidad"
/>
 

  <div class="form-row">
    <div class="col-md-3">
      <label>Producto</label>
      <input
      style="text-transform:uppercase"
        name="detalleNameProducto"
        #detalleNameProducto="ngModel"
        [(ngModel)]="formData.detalleNameProducto"
        class="form-control"
        readonly
      />
    </div>
    <div class="col-md-3">
      <label>Unidad Medida</label>
      <input
      style="text-transform:uppercase"
        type="text"
        name="detalleNameUnidadMedida"
        #detalleNameUnidadMedida="ngModel"
        [(ngModel)]="formData.detalleNameUnidadMedida"
        class="form-control"
        readonly
      />
    </div>
 
    <div class="col-md-3">
      <label>Almacén</label>
  <input
  style="text-transform:uppercase"
  type="text" 
  name="nombre_alamcen"
  #nombre_alamcen="ngModel"
  [(ngModel)]="formData.nombre_alamcen"
  class="form-control" 
  readonly
  />
    </div>
    <div class="col-md-3">
      <label>Cantidad Solicitada</label> 
      <input
      
        name="cantidadGlobal"
        #cantidadGlobal="ngModel"
        [(ngModel)]="formData.cantidadGlobal"
        class="form-control"
        readonly
  
     
      />
    </div>
  </div>
  <br>
  <div class="form-row ">
    <div class="col-md-3">
      <label>Cantidad en Almacén</label> 
      <input
      
        name="cantidadPendiente"
        #cantidadPendiente="ngModel"
        [(ngModel)]="formData.cantidadPendiente"
        class="form-control"
        readonly
  
     
      />
    </div>
    <div class="col-md-3">
      <label>Precio Unitario</label>
      <input
        name="precio_unidad"
        #precio_unidad="ngModel"
        [(ngModel)]="formData.precio_unidad"
        class="form-control" 
        readonly
      /> 
    </div>
   
    <div class="col-md-3">
      <label>Precio Total</label>
      <input
        name="precio_total"
        #precio_total="ngModel"
        [(ngModel)]="formData.precio_total"
        class="form-control"
        readonly
      />
    </div>
    <div class="col-md-3">
      <label>Cantidad Recibida</label>
      <input
      type="number"
        name="cantidadPrincipal"
        #cantidadPrincipal="ngModel"
        [(ngModel)]="formData.cantidadPrincipal" 
        class="form-control" 
        [class.is-invalid]="cantidadPrincipal.invalid && cantidadPrincipal.touched"
        required
      />
      <small *ngIf="cantidadPrincipal.invalid && cantidadPrincipal.touched"
          class="form-text text-danger">Ingrese Cantidad</small>
    </div>
       
    
    <!-- (keyup)="updateTotal()" -->
  </div> 
  <br />
  <!--  -->

  <br />
  <div class="form-group">
    <button type="submit"   class="btn btn-dark">
      <i class="fa fa-database"></i> Guardar
    </button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]>
      <i class="fa fa-close"></i> Salir
    </button>
  </div>
</form>
