<h4 class="dispaly-4">Regularizar Almacén</h4>
<hr />

<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
   <input
    type="hidden" 
    name="id"
    #id="ngModel"
    [(ngModel)]="formData.id"
  />   


  <input
  type="hidden" 
  name="idIngresoAlmacen"
  #idIngresoAlmacen="ngModel"
  [(ngModel)]="formData.idIngresoAlmacen"
/> 
  <div class="form-row ">
  <div class="col-md-4">
    <label>Detalle Producto</label>
    <input
      name="detalleNameProducto"
      #detalleNameProducto="ngModel"
      [(ngModel)]="formData.detalleNameProducto"
      class="form-control"
      readonly
    />
  </div>
  <div class="col-md-4">
    <label>Cantidad Solicitada</label>
    <input
      name="cantidadGlobal"
      #cantidadGlobal="ngModel"
      [(ngModel)]="formData.cantidadGlobal"
      class="form-control"
      readonly
    />
  </div>
  <div class="col-md-4">
    <label>Cantidad Devolución</label>
    <input
      name="cantidadDevuelta"
      #cantidadDevuelta="ngModel"
      [(ngModel)]="formData.cantidadDevuelta"
      class="form-control"
    
    />
  </div>
  </div>

 <br>
<!--  -->

<div class="form-row ">
    <div class="col-md-3">
      <label>Sede Principal</label>
      <input
        name="detalleNameSedePrincipal"
        #detalleNameSedePrincipal="ngModel"
        [(ngModel)]="formData.detalleNameSedePrincipal"
        class="form-control"
        readonly
      />
    </div>
    <div class="col-md-3">
      <label>Cantidad Principal</label>
      <input
        name="cantidadPrincipal"
        #cantidadPrincipal="ngModel"
        [(ngModel)]="formData.cantidadPrincipal"
        class="form-control"
   
      />
    </div>
    <div class="col-md-3">
        <label>Sede Secundaria</label>
      <input
        name="detalleNameSedeSecundaria"
        #detalleNameSedeSecundaria="ngModel"
        [(ngModel)]="formData.detalleNameSedeSecundaria"
        class="form-control"
        readonly
      />
    </div>
    <div class="col-md-3">
        <label>Cantidad Secundaria</label>
        <input
          name="cantidaSecundaria"
          #cantidaSecundaria="ngModel"
          [(ngModel)]="formData.cantidaSecundaria"
          class="form-control"
     
        />
      </div>
    </div>
<br>
<div class="form-group">
    <button type="submit" class="btn btn-dark">
      <i class="fa fa-database"></i> Guardar
    </button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]>
      <i class="fa fa-close"></i> Salir
    </button>
  </div>
</form>