<h1>
  <small>Movimientos del Producto -
    <b>{{ cabeceraProducto?.detalleNameProducto }} </b></small>
</h1>
<!-- /*- {{movimientosProductos[0].detalleNameProducto}} -->
<hr />
<div class="row text-right">
  <div class="col">

    <button mat-raised-button  color="primary"  (click)="exportAsXLSX()">Exportar
      <mat-icon>trending_down</mat-icon>
    
    </button>
    &nbsp;
    <button class="btn btn-danger" routerLink="../../Listarkardex">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
 
  
  </div>
  
</div>

<br />
<table mat-table [dataSource]="movimientosProductos" class="mat-elevation-z8">
  <!-- Item Column -->
<ng-container matColumnDef="Nombre Producto">
    <th mat-header-cell *matHeaderCellDef> <b>Nombre Producto</b> </th>
    <td mat-cell *matCellDef="let movimientosProductos"> {{movimientosProductos?.producto}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container> 

  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef><b> Codigo</b></th>
    <td mat-cell *matCellDef="let movimientosProductos" > {{movimientosProductos?.codigo}} </td> 
    <td mat-footer-cell *matFooterCellDef>  </td>
  </ng-container>
  <ng-container matColumnDef="cantidad">
    <th mat-header-cell *matHeaderCellDef><b> Cantidad</b></th>
    <td mat-cell *matCellDef="let movimientosProductos" >
      
    <p *ngIf="movimientosProductos?.signo == '+'" style="color: #3145ff">  {{movimientosProductos?.cantidad}}</p>
    <p *ngIf="movimientosProductos?.signo == '-'" style="color: #e10404">  {{movimientosProductos?.cantidad}}</p>
     </td> 
    <td mat-footer-cell *matFooterCellDef>  </td>
  </ng-container>
  <ng-container matColumnDef="almacen">
    <th mat-header-cell *matHeaderCellDef> <b>Almacén</b></th>
    <td mat-cell *matCellDef="let movimientosProductos" > {{movimientosProductos?.almacen}} </td> 
    <td mat-footer-cell *matFooterCellDef>  </td>
  </ng-container>
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> <b>Fecha</b></th>
    <td mat-cell *matCellDef="let movimientosProductos" > {{movimientosProductos?.fecha | date: "short"}} </td> 
    <td mat-footer-cell *matFooterCellDef>  </td>
  </ng-container>
  <ng-container matColumnDef="nroOrden">
    <th mat-header-cell *matHeaderCellDef><b> Nro Orden</b></th>
    <td mat-cell *matCellDef="let movimientosProductos" > {{movimientosProductos?.nroOrden}} </td> 
    <td mat-footer-cell *matFooterCellDef> <b>Total</b> </td>
  </ng-container>
  <!-- Cost Column -->
   <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef> <b>Precio</b> </th>
    <td mat-cell *matCellDef="let movimientosProductos"> <b>{{movimientosProductos.precio | currency}}</b> </td>
    <td mat-footer-cell *matFooterCellDef><b> {{getTotalCost() | currency}}</b> </td>   
  </ng-container>  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
 
<!-- <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre Producto</th>
      <th scope="col">Codigo</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Almacén</th>
      <th scope="col">Fecha</th>
      <th scope="col">Nro Orden</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let deta of movimientosProductos; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ deta?.producto }}</td>

      <td>
        {{ deta?.codigo }}
      </td>
      <td *ngIf="deta?.signo == '+'" style="color: #3145ff">
        <p>{{ deta?.cantidad }}</p>
      </td>
      <td *ngIf="deta?.signo == '-'" style="color: #fb0000">
        <p>{{ deta?.cantidad }}</p>
      </td>
      <td>{{ deta?.almacen }}</td>
      <td>
        {{ deta?.fecha | date: "short" }}
      </td>
      <td>
        {{ deta?.nroOrden }}
      </td>
      <td>
        {{ deta?.precio | currency }}
      </td>
<td></td>

    </tr>
  </tbody>
</table> -->