<h1><small>Editar Producto</small></h1>
<hr />
<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="../listarproducto">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>
<br />
<div class="row animated fadeIn faster" mb-3 row>
  <div class="col">
    <form  [formGroup]="loginForm" action="">
      <form class="row g-3" [formGroup]="loginForm">
        <div class="col-md-6">
            <div class="form-group">
              <label  class="form-label">Nombre Producto</label>
              <input
              type="text"
              [(ngModel)]="productos[0].nombre_producto"
              name="nombre_producto"
              class="form-control"
              formControlName="nombre_producto"
              id="nombre_producto"
            />
            </div>
            <div class="form-group">
              <label for="inputAddress" class="form-label">Modelo</label>
              <select
              type="text"
              [(ngModel)]="productos[0].idModelo"
              name="id"
              class="form-control"
              formControlName="idModelo"
              id="idModelo"
              >
                <option value="">---Seleccione Modelo---</option>
                <option *ngFor="let modelo of modelos" [ngValue]="modelo.id">
                  {{ modelo.nombre_modelo }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label  class="form-label">Categoria</label>
              <select
              type="text"
              [(ngModel)]="productos[0].idCategoria"
              name="id"
              class="form-control"
              formControlName="idCategoria"
              id="idCategoria"
             >          
             <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">{{ categoria.nombre_categoria }}  </option>
            </select>
            </div>
            <div class="form-group">
              <label  class="form-label">Unidad Medida</label>
              <select
              type="text"
              [(ngModel)]="productos[0].idUnidadMedida"
              name="id"
              class="form-control"
              formControlName="idUnidadMedida"
              id="idUnidadMedida"
             >          
             <option *ngFor="let unidadmedida of unidadmedidas" [ngValue]="unidadmedida.id">{{ unidadmedida.detalle }}  </option>
            </select>
            </div>
          </div>
 
 
        </form>




      <div class="form-group">
        <label>Estado</label>
        <br />
        <button
          *ngIf="productos[0].estado"
          (click)="productos[0].estado = false"
          class="btn btn-outline-success w-50"
          type="button"
        >
          <i class="fa fa-smile-wink"></i>
          Activo
        </button>
        <button
          *ngIf="!productos[0].estado"
          (click)="productos[0].estado = true"
          class="btn btn-outline-danger w-50"
          type="button"
        >
          <i class="fa fa-dizzy"></i>
          Inactivo
        </button>
      </div>
      <hr />
      <div class="form-group text-center">
        <button (click)="Actualizar([productos[0]])" class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Actualizar
        </button>
      </div>
    </form>
  </div>
</div>
