<div class="col-md-12">
  <div class="card"> 
          <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                      <span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">ESTADOS</span>
                  </a>
                  <div class="dropdown-menu"> 
                    <a class="dropdown-item" id="dropdown1-tab"[routerLink]="['../listarordencompra']" role="tab" data-toggle="tab" aria-controls="dropdown1">Activas</a> 
                    <a class="dropdown-item" id="dropdown2-tab" [routerLink]="['../listarordenanuladas']"  role="tab" data-toggle="tab" aria-controls="dropdown2">Anuladas</a> </div>
              </li> 
          </ul> 
  </div>
</div> 
 
  <h1>Listado Ordenes Compra Anuladas </h1>
  <hr />

<table class="table table-hover">
  <thead class="thead-dark">
    <th scope="col">#</th>
      <th scope="col">#Orden Nro</th>
      <th scope="col">#Cotizacion</th>
      <th scope="col">Empleado</th>
      <th scope="col">Proveedor</th> 
      <th scope="col">Estado</th>
    
  </thead>
  <tbody>
      <tr *ngFor="let item of Ordenes; let i = index" >
        <th scope="row">{{ i + 1 }}</th>
        <th  (click)="openForEdit(item.id)">{{item.codigo_orden_num}}</th>
        <td (click)="openForEdit(item.id)"> 
          <p *ngFor="let deta of item.detalleCotizacion">{{deta.codigo_cotizacion_num}}</p>
        </td>

        <td (click)="openForEdit(item.id)">{{item.detalleProovedor[0].nombre_proovedor}}</td>
        <td (click)="openForEdit(item.id)">{{item.detalleEmpleado[0].nombre_empleado}}</td>
        <!-- <td (click)="openForEdit(item.id)">{{item.detalleCotizacion[0].precio_total}}</td>   -->
        <!-- <td (click)="openForEdit(item.id)">{{item.idEstadoFlujo}}</td> -->
        <td>
            <label *ngIf="item.idEstadoFlujo == 3" class="badge badge-danger"
            >Anulado</label
          >
          
 
        </td>
         <!-- <td> <button class="btn btn-info mr-1" (click)="openForEdit(item.id)">            
        <i class="fa fa-pen"></i> 
        </button>
      </td> -  -->
      </tr>
    </tbody>
</table>
<div
  *ngIf="!cargando && Ordenes.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">No hay registros</h4>
  <p>
    <i class="fa fa-exclamation fa-2px"></i>
  </p>
  <p class="mb-0">Espere por favor</p>
</div>
<div
  *ngIf="cargando"
  class="alert alert-info text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2px"></i>
  </p>
  <p class="mb-0">Espere por favor</p>
</div>
