<h1><small>Regularizar Almacen</small></h1>
<hr />
<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="../../listarentrada">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>
<br />
<form #form="ngForm" autocomplete="off" *ngIf="kardexService.formDataEntrada"  (submit)="onSubmit(form)">
    <input
  
    type="hidden"
    name="idOrden"
    #idOrden="ngModel"
    [(ngModel)]="kardexService.formDataEntrada.idOrden"
    />
    <input
type="hidden"
name="idCotizacion"
#idCotizacion="ngModel"
[(ngModel)]="kardexService.formDataEntrada.idCotizacion"
/>    
 
<!-- <input
type="text"
name="idEmpleado"
#idEmpleado="ngModel"
[(ngModel)]="kardexService.formOrdencompra.idEmpleado"
/>  -->
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label> Nro Ingreso Alamcén.</label>
      <input name="codigoIngreso" #codigoIngreso="ngModel" [(ngModel)]="kardexService.formDataEntrada.codigoIngreso" class="form-control" readonly>
      </div>  
      <div class="form-group">
        <label> Fecha  Ingreso</label>
    
    
        <input
        matInput
        [matDatepicker]="picker"
        placeholder="DD/MM/YYYY" 
        name="fechaIngreso"
        #fechaIngreso="ngModel" 
        [(ngModel)]="kardexService.formDataEntrada.fechaIngreso"
        class="form-control"  
        [class.is-invalid]="fechaIngreso.invalid && fechaIngreso.touched"
          required
    
      />
      <small *ngIf="fechaIngreso.invalid && fechaIngreso.touched"
      class="form-text text-danger">Ingrese Fecha</small>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label> Nro Orden Compra</label>
      <input name="codigo_orden_num" #codigo_orden_num="ngModel" [(ngModel)]="kardexService.formOrdencompra.codigo_orden_num" class="form-control" readonly>
  </div>  
  <div class="form-group">
    <label> Tipo Ingreso</label>

    <input
      type="text"
      name="descripcion_ingreso"
      #descripcion_ingreso="ngModel"
      [(ngModel)]="kardexService.formDataEntrada.descripcion_ingreso"
      class="form-control" 
      disabled="disabled"
      />
</div>
  </div>
  <div class="col-md-4">
    <div class="form-group" >
      <label for="inputAddress" class="form-label">Empleado</label>
      <input
      type="text"
      name="nombre_empleado"
      #nombre_empleado="ngModel"
      [(ngModel)]="kardexService.formOrdencompra.nombre_empleado"
      class="form-control" 
      disabled="disabled"
      />

 
    </div>
    <div class="form-group">
      <label for="inputAddress" class="form-label">Proveedor</label>
      <input
      type="text"
      name="nombre_proovedor"
      #nombre_proovedor="ngModel"
      [(ngModel)]="kardexService.formOrdencompra.nombre_proovedor"
      class="form-control" 
      disabled="disabled"
      />
      </div>
      <div class="form-group">
        <label> Detalle</label>
        <input
        class="form-control" 
          type="text"
          name="detalleIngreso"
          placeholder="Detalle" 
          #detalleIngreso="ngModel"
          [(ngModel)]="kardexService.formDataEntrada.detalleIngreso"
          class="form-control" 
          [class.is-invalid]="detalleIngreso.invalid && detalleIngreso.touched"
          required
          minlength="5"
        
        />
      
       
      </div>
  </div>

</div>
 
    <br>
    <table class="table table-borderless" >
        <thead class="thead-light">
          <th scope="col">#</th>
           <th>Nombre Producto</th> 
           <th>Unidad Medida</th>
            <th>Cantidad Solicitada</th> 
                     
            <th>Cantidad Ingreso</th>
            <th scope="col">Estado</th>
           
       
            
        </thead>
      
        <tbody>
      
              <tr *ngFor="let item of kardexService.detalleIngresoAlmacen  ;let i=index;">
                <th scope="row">{{ i + 1 }}</th>
              <td>
                <p>{{item.detalleNameProducto}}</p>
                  <!-- <p *ngFor="let deta of item.detalleCotizacion">{{deta.nombre_producto}}</p>   -->
              </td>
              <td>
                <p>{{item.detalleNameUnidadMedida}}</p>
               
              </td>
              <td>
                <p>{{item.cantidadGlobal}}</p>
               
              </td> 
            
          
          
              <td>
                <p>{{item.cantidadPrincipal}}</p>
              
              </td>
             
             
              <!-- <td>
                <p>{{item.cantidadDevuelta + item.cantidadDevuelta}}</p>
              
              </td> -->
              <td>
                <label *ngIf="item.estadoflujo == 2" class="badge bg-success"
                  >
      
                  Completado</label
                >
                <label *ngIf="item.estadoflujo == 1" class="badge bg-warning"
                  >Pendiente</label
                >
                <label *ngIf="item.estadoflujo == 3" class="badge bg-danger"
                >Anulado</label
              >
              </td>
            
              <td>
                <a
                  class="btn btn-sm btn-info text-white"
                  (click)="AddOrEditOrderItem(i,item.id) " [hidden] = "item.estadoflujo == 2 || item.estadoflujo == 3"><i class="fa fa-check-square"></i></a>
                   
             
              </td>
              <!-- {{item | json}}   -->
              </tr>   
        </tbody>
        <br>
 
      </table>
      <div class="form-group">
        <button type="submit" class="btn btn-dark" *ngIf="this.isButtonVisible"><i class="fa fa-database"></i> Actualizar</button>
         <a   class="btn btn-outline-dark ml-1" routerLink="../../listarentrada" ><i class="fa fa-close"></i> Ver Ingresos</a>  
        
        </div>
</form>