<h1><small>Regularizar Almacen</small></h1>
<hr />
<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="../../listarentrada">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>
<br />
<form #form="ngForm" autocomplete="off" *ngIf="kardexService.formDataEntrada"  (submit)="onSubmit(form)">
    <input
  
    type="hidden"
    name="idOrden"
    #idOrden="ngModel"
    [(ngModel)]="kardexService.formDataEntrada.idOrden"
    />
    <input
type="hidden"
name="idCotizacion"
#idCotizacion="ngModel"
[(ngModel)]="kardexService.formDataEntrada.idCotizacion"
/>   
    <div class="col-md-4">
        <!-- <div class="form-group">
            
            <label for="inputAddress" class="form-label">Nro Cotización</label>
            <select
            name="idCotizacion" 
            #idCotizacion="ngModel" 
            [(ngModel)]="kardexService.formOrdencompra.idCotizacion"
            class="form-control"
            disabled="disabled"
           
             > 
             <option value="0">-Select-</option>
              <option
                *ngFor="let cotizacion of cotizaciones"
                value="{{ cotizacion.id }}"
              >
                {{ cotizacion.codigo_cotizacion_num }}
              </option>
            </select>
            </div>    -->
 
          <div class="form-group">
            <label> Nro Ingreso Alamcén.</label>
            <input name="codigoIngreso" #codigo_orden_num="ngModel" [(ngModel)]="kardexService.formDataEntrada.codigoIngreso" class="form-control" readonly>
        </div>  
    
        <!-- <div class="form-group" >
            <label for="inputAddress" class="form-label">PROVEEDOR</label>
            <select
            name="idProovedor" 
            #idProovedor="ngModel" 
            [(ngModel)]="kardexService.formOrdencompra.idProovedor"
            class="form-control"
            disabled="disabled"
             > 
             <option value="0">-Select-</option>
              <option
                *ngFor="let proveedor of proveedores"
                value="{{ proveedor.id }}"
              >
                {{ proveedor.nombre_proovedor }}
              </option>
            </select>
          </div> -->
       
        
    </div>
    <table class="table table-borderless" >
        <thead class="thead-light">
          <th scope="col">#</th>
           <th>Nombre Producto</th> 
            <th>Cantidad Solicitada</th> 
            <th>Sede Principal</th>
            <th>Cantidad Principal</th>
            <th>Sede Secundaria</th>
            <th>Cantidad Secundaria</th>
            <th>Cantidad Devolucion</th>
            <th scope="col">Estado</th>
           
            <!-- <th>
              <a
                class="btn btn-sm btn-success text-white"
                (click)="AddOrEditOrderItem(null, kardexService.formDataEntrada.id)"
                ><i class="fa fa-plus"></i> Agregar Producto</a
              >
            </th> -->
            
        </thead>
      
        <tbody>
      
              <tr *ngFor="let item of kardexService.detalleIngresoAlmacen  ;let i=index;">
                <th scope="row">{{ i + 1 }}</th>
              <td>
                <p>{{item.detalleNameProducto}}</p>
                  <!-- <p *ngFor="let deta of item.detalleCotizacion">{{deta.nombre_producto}}</p>   -->
              </td>
              <td>
                <p>{{item.cantidadGlobal}}</p>
               
              </td> 
              <td>
                <!-- <p>{{item.idSedePrincipal}}</p> -->
                <p>{{item.detalleNameSedePrincipal}}</p>
              </td>
              <td>
                <p>{{item.cantidadPrincipal}}</p>
              
              </td>
              <td>
                 
                <p>{{item.detalleNameSedeSecundaria}}</p>
              
              </td>
              <td>
                <p>{{item.cantidaSecundaria}}</p>
              
              </td>
              <td>
                <p>{{item.cantidadDevuelta}}</p>
              
              </td>
             
              <!-- <td>
                <p>{{item.cantidadDevuelta + item.cantidadDevuelta}}</p>
              
              </td> -->
              <td>
                <label *ngIf="item.estadoflujo == 2" class="badge bg-success"
                  >
      
                  Completado</label
                >
                <label *ngIf="item.estadoflujo == 1" class="badge bg-danger"
                  >Pendiente</label
                >
              </td>
            
              <td>
                <a
                  class="btn btn-sm btn-info text-white"
                  (click)="AddOrEditOrderItem(i,item.id)"><i class="fa fa-check-square"></i></a>
                   
             
              </td>
              <!-- {{item | json}}   -->
              </tr>   
        </tbody>
      </table>
      <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Actualizar</button>
         <a   class="btn btn-outline-dark ml-1" routerLink="../../listarentrada" ><i class="fa fa-close"></i> Ver Ingresos</a>  
        
        </div>
</form>