<h1><small>Orden Compra</small></h1>
<hr />
<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="../listarordencompra">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>
<br />
<form
  #form="ngForm"
  autocomplete="off"
  *ngIf="kardexService.formOrdencompra"
  (submit)="onSubmit(form)"
>
  <!-- <input type="hidden"  name="id" #id="ngModel" [(ngModel)]="kardexService.formData.id"> -->

  <input
    type="hidden"
    name="idCotizacion"
    #idCotizacion="ngModel"
    [(ngModel)]="kardexService.formOrdencompra.idCotizacion"
  />

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label> Buscar Cotización</label> 
        <ng-select
          [items]="cotizaciones"
          bindLabel="codigo_cotizacion_num"
          bindValue="id"
          placeholder="Buscar Cotización"
          [(ngModel)]="kardexService.formOrdencompra.idCotizacion"
          (change)="onChange($event)"
          (change)="SelectCotizacionDetalle($event)"
        >
        </ng-select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label> Tipo Orden </label>
        <ng-select
          #idTipoOc="ngModel"
          name="idTipoOc"
          bindValue="idTipoOc"
          placeholder="Buscar Tipo Orden"
          [(ngModel)]="kardexService.formOrdencompra.idTipoOc"
        >
          <ng-option *ngFor="let emp of tiporden" [value]="emp.id">{{
            emp.detalle_tpordencompra
          }}</ng-option>
        </ng-select>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <label for="">Fecha Orden Compra</label>
        <div class="input-group">
          <input
            [matDatepicker]="picker2"
            placeholder="DD/MM/YYYY"
            name="fechaEnvio"
            #fechaEnvio="ngModel"
            [(ngModel)]="kardexService.formOrdencompra.fechaEnvio"
            class="form-control"
            [class.is-invalid]="fechaEnvio.invalid && fechaEnvio.touched"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #picker2
            ngDefaultControl
            (selectedChanged)="onDate2($event)"
          ></mat-datepicker>
        </div>
        <small
          *ngIf="fechaEnvio.invalid && fechaEnvio.touched"
          class="form-text text-danger"
          >Ingrese Fecha</small
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="inputAddress" class="form-label">Empleado</label>
        <select
        style="text-transform:uppercase"
          name="idEmpleado"
          #idEmpleado="ngModel"
          [(ngModel)]="kardexService.formOrdencompra.idEmpleado"
          class="form-control"
          disabled="disabled"
        >
          >

          <option value="0">-Select-</option>
          <option *ngFor="let empleado of empleados" value="{{ empleado.id }}">
            {{ empleado.nombre_empleado }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="inputAddress" class="form-label">Proveedor</label>
        <select
        style="text-transform:uppercase"
          name="idProovedor"
          #idProovedor="ngModel"
          [(ngModel)]="kardexService.formOrdencompra.idProovedor"
          class="form-control"
          disabled="disabled"
        >
          <option value="0">-Select-</option>
          <option
            *ngFor="let proveedor of proveedores"
            value="{{ proveedor.id }}"
          >
            {{ proveedor.nombre_proovedor }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label> Moneda</label>
        <select
        style="text-transform:uppercase"
        name="idTipoMoneda"
        #idTipoMoneda="ngModel"
        [(ngModel)]="kardexService.formOrdencompra.idTipoMoneda"
        class="form-control"
        disabled="disabled"
      >
        <option value="0">-Select-</option>
        <option
          *ngFor="let moneda of tipoMoneda"
          value="{{ moneda.id }}"
        >
          {{ moneda.nombre_moneda }}
        </option>
      </select>
      </div>
    </div>
  </div>

  <div class="row"> 
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <label for="">Fecha Entrega</label>
        <div class="input-group">
          <input
            [matDatepicker]="picker"
            placeholder="DD/MM/YYYY"
            name="fechaEntrega"
            #fechaEntrega="ngModel"
            [(ngModel)]="kardexService.formOrdencompra.fechaEntrega"
            class="form-control"
            [class.is-invalid]="fechaEntrega.invalid && fechaEntrega.touched"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #picker
            ngDefaultControl
            (selectedChanged)="onDate($event)"
          ></mat-datepicker>
        </div>
        <small
          *ngIf="fechaEntrega.invalid && fechaEntrega.touched"
          class="form-text text-danger"
          >Ingrese Fecha</small
        >
      </div>
    </div>




    <div class="col-md-4">
      <div class="form-group">
        <label> Almacén</label>
        <select
        style="text-transform:uppercase"
          name="idSede"
          #idSede="ngModel"
          [(ngModel)]="kardexService.formOrdencompra.idSede"
          class="form-control"
          [class.is-invalid]="
            !isValid && kardexService.formOrdencompra.idSede == 0
          "
          (change)="UpdateSede($event.target)"
        >
          <option value="0">-Select-</option>
          <option *ngFor="let almacen of almacenes" value="{{ almacen.id }}">
            {{ almacen.nombre_alamcen }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label> Dirección</label>
        <input
        style="text-transform:uppercase"
          type="text"
          name="direccionOrden"
          #direccionOrden="ngModel"
          [(ngModel)]="kardexService.formOrdencompra.direccionOrden"
          class="form-control"
          disabled="disabled"
        />
      </div>
    </div>
  </div>

  <div class="row">

   
    <div class="col-md-8">
      <div class="form-group">
        <label> Detalle</label>
        <input
        style="text-transform:uppercase"
          class="form-control"
          type="text"
          name="detalleOrden"
          placeholder="Detalle"
          #detalleOrden="ngModel"
          [(ngModel)]="kardexService.formOrdencompra.detalleOrden"
          class="form-control"
 
         
        />
        <!-- 
          required [class.is-invalid]="detalleOrden.invalid && detalleOrden.touched"         -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label> Forma Pago</label>
    

        <ng-select
        #idTipoPago="ngModel"
        name="idTipoPago"
        bindValue="idTipoPago"
        placeholder="Buscar Forma de Pago"
        [(ngModel)]="kardexService.formOrdencompra.idTipoPago"
      >
        <ng-option *ngFor="let emp of tipopagos" [value]="emp.id">{{
          emp.descripcion_pago
        }}</ng-option>
      </ng-select>





      </div>
    </div>
  </div>

  <div class="row">
   
    <div class="col-md-4">
      <div class="form-group">
        <label> Banco</label>
         <select
         style="text-transform:uppercase"
          name="idBanco"
          #idBanco="ngModel"
          [(ngModel)]="kardexService.formOrdencompra.idBanco"
          class="form-control"
          [class.is-invalid]="
            !isValid && kardexService.formOrdencompra.idBanco == 0
          "
          (change)="UpdateBanco($event.target)"
        >
          <option value="0">-Select-</option>
          <option *ngFor="let banco of bancos" value="{{ banco.id }}">
            {{ banco.descripcion_banco }}
          </option>
        </select>   
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label> Nro Cuenta</label>

        <select
          name="idNroCuenta"
          #idNroCuenta="ngModel"
          [(ngModel)]="kardexService.formOrdencompra.idNroCuenta"
          class="form-control"
          disabled="disabled"
        >
          <option value="0">-Select-</option>
          <option *ngFor="let cuenta of cuentas" value="{{ cuenta.id }}">
            {{ cuenta.descripcion_cuenta }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label> Pertenece Cuenta a:</label>

        <input
        style="text-transform:uppercase"
          type="text"
          name="cuentaPertenece"
          #cuentaPertenece="ngModel"
          [(ngModel)]="kardexService.formOrdencompra.cuentaPertenece"
          class="form-control"
          disabled="disabled"
        />
      </div>
    </div>
  </div>

  <!-- ORDER ITEMS TABLE -->
  <table class="table table-borderless">
    <thead class="thead-light">
      <th>Nombre Producto</th>
      <th>Cantidad</th>
      <th>Unidad Medida</th>
      <th>Precio Unidad</th>
      <th>Precio Total</th>
      <th>Observaciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of detalleCotizaciones; let i = index">
        <td>
          <p>{{ item.nombre_producto | uppercase}}</p>
          <p *ngFor="let deta of item.detalleCotizacion">
            {{ deta.nombre_producto | uppercase}}
          </p>
        </td>
        <td>
          <p>{{ item.cantidad }}</p>
          <p *ngFor="let deta of item.detalleCotizacion">{{ deta.cantidad }}</p>
        </td>
        <td>
          <p>{{ item.detalleNameUnidadMedida | uppercase}}</p>
          <p *ngFor="let deta of item.detalleCotizacion">
            {{ deta.detalleNameUnidadMedida | uppercase }}
          </p>
        </td>
        <td>
          <p>{{ item.precio_unidad }}</p>
          <p *ngFor="let deta of item.detalleCotizacion">
            {{ deta.precio_unidad }}
          </p>
        </td>
        <td>
          <p>{{ item.precio_total }}</p>
          <p *ngFor="let deta of item.detalleCotizacion">
            {{ deta.precio_total }}
          </p>
        </td>
        <td>
          <p>{{ item.observaciones | uppercase}}</p>
          <p *ngFor="let deta of item.detalleCotizacion">
            {{ deta.observaciones | uppercase }}
          </p>
        </td>
 
      </tr>
    </tbody>
  </table>
  <br />
 
  <hr />
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label class="form-label">Descuento Cotización %</label>
        <input
          type="text"
          name="descuento_cot"
          #descuento_cot="ngModel"
          [(ngModel)]="kardexService.formOrdencompra.descuento_cot"
          class="form-control"
          disabled="disabled"
        />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label class="form-label">Costo Envio</label>
        <input
          type="text"
          name="costo_envio"
          #costo_envio="ngModel"
          [(ngModel)]="kardexService.formOrdencompra.costo_envio"
          class="form-control"
          disabled="disabled"
        />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label class="form-label">Total Productos</label>
        <input
          type="text"
          name="total_costo"
          #total_costo="ngModel"
          [(ngModel)]="kardexService.formOrdencompra.total_costo"
          class="form-control"
          disabled="disabled"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="form-label">Total General</label>
        <input
          type="text"
          name="totalGeneral"
          #totalGeneral="ngModel"
          [(ngModel)]="kardexService.formOrdencompra.totalGeneral"
          class="form-control"
          disabled="disabled"
        />
      </div>
    </div>
  </div>

  <!-- {{item | json}}    -->
  <!-- <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Secondary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div> -->

  <div class="form-group">
    <button type="submit" class="btn btn-dark">
      <i class="fa fa-database"></i> Guardar
    </button>
    <!-- <a   class="btn btn-outline-dark ml-1" routerLink="listarordencompra" ><i class="fa fa-close"></i> Ver Ordenes</a> -->
  </div>
</form>
