<h1>Listado Usuarios</h1>
<hr />
<div class="row">
  <div class="col text-right">
    <button routerLink="/mantenimientos/addusuario/nuevo" class="btn btn-primary">
      <i class="fa fa-plus"> Agregar </i>
    </button>
  </div>
</div>
<mat-form-field>
    <mat-label>Buscar</mat-label>
   
    <input matInput (keyup)="applyFilter($event)"   placeholder="Ingrese dato" #input>
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element" > {{element.username  | uppercase}} </td>
     
    </ng-container> 

    <ng-container matColumnDef="Nombre Empleado">
      <th mat-header-cell *matHeaderCellDef> Nombre Empleado </th>
      <td mat-cell *matCellDef="let element" > {{element.detalleEmpleado[0].nombre_empleado}}, {{element.detalleEmpleado[0].apellidos_pat_empleado}} {{element.detalleEmpleado[0].apellidos_mat_empleado}} </td>
     
    </ng-container> 

    <ng-container matColumnDef="tipo_usuario">
        <th mat-header-cell *matHeaderCellDef> Perfil </th>
        <td mat-cell *matCellDef="let element" > {{element.detalleEmpleado[0].detallePerfilUsuario[0].tipo_usuario  | uppercase}} </td>
       
      </ng-container> 
    
    <!-- <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="openForEdit(element.id)"> 
          <mat-icon>create</mat-icon>
        </button>
      </td>
    
    </ng-container> -->
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No existe coincidencia con "{{input.value}}"</td>
    </tr>
   
  </table>
  
  
  <!-- Copyright 2020 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->