<h1><small>Agregar Cliente</small></h1>
<hr />
<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="../../listarcliente">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>
<br />

<form
  #form="ngForm"
  autocomplete="off"
  *ngIf="formData"
  (submit)="onSubmit(form)"
>
<input
type="hidden"
name="id"
#id="ngModel"
[(ngModel)]="formData.id"
/>
 
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label> Nombre</label>
        <input
        style="text-transform:uppercase"
          name="nombre_cliente"
          #nombre_cliente="ngModel"
          [(ngModel)]="formData.nombre_cliente"
          class="form-control"
          placeholder="Ingresar Nombre Cliente"
          [class.is-invalid]="nombre_cliente.invalid && nombre_cliente.touched"
          required
        />
      </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
          <label> Apellido Paterno</label>
          <input
          style="text-transform:uppercase"
            name="apellidos_pat_cliente"
            #apellidos_pat_cliente="ngModel"
            [(ngModel)]="formData.apellidos_pat_cliente"
            class="form-control"
            placeholder="Ingresar Apellido Paterno"
            [class.is-invalid]="apellidos_pat_cliente.invalid && apellidos_pat_cliente.touched"
            required
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label> Apellido Materno</label>
          <input
          style="text-transform:uppercase"
            name="apellidos_mat_cliente"
            #apellidos_mat_cliente="ngModel"
            [(ngModel)]="formData.apellidos_mat_cliente"
            class="form-control"
            placeholder="Ingresar Apellido Materno"
            [class.is-invalid]="apellidos_mat_cliente.invalid && apellidos_mat_cliente.touched"
            required
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
            <label> Telefono</label>
          <input
          type="number"
            name="telefono_cliente"
            #telefono_cliente="ngModel"
            [(ngModel)]="formData.telefono_cliente"
            class="form-control"
            placeholder="Ingresar Telefono"
            [class.is-invalid]="telefono_cliente.invalid && telefono_cliente.touched"
            required
          />
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label> Tipo Documento</label>


        <ng-select  
        style="text-transform:uppercase"
        #idTipoDocumento="ngModel"  
        name="idTipoDocumento" 
        bindValue="idTipoDocumento"       
        placeholder="Buscar Tipo Documento" 
        [(ngModel)]="formData.idTipoDocumento"  
     
      >   
          <ng-option *ngFor="let emp of tipodocumentos" 
          [value]="emp.id">{{emp.tipo_documento}}</ng-option>
       </ng-select> 
      
      </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
          <label> Nro Documento</label>
          <input
          type="number"
            name="dni_cliente"
            #dni_cliente="ngModel"
            [(ngModel)]="formData.dni_cliente"
            class="form-control"
            placeholder="Ingresar Nro Documento"
          
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label> Dirección</label>
          <input
          style="text-transform:uppercase"
            name="direccion_cliente"
            #direccion_cliente="ngModel"
            [(ngModel)]="formData.direccion_cliente"
            class="form-control"
            placeholder="Ingresar Dirección"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label> Pais</label>
          <ng-select  
          #idPais="ngModel"  
          name="idPais" 
          bindValue="idPais" 
          placeholder="Buscar Pais" 
          [(ngModel)]="formData.idPais"  
        >   
            <ng-option *ngFor="let emp of paises" [value]="emp.id">{{emp.nombre_pais}}</ng-option>
         </ng-select> 
         <!-- {{formData.idPais| json}} -->
        </div>
      </div>
      
  </div>


  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label> Email</label>
        <input
        style="text-transform:uppercase"
          name="email_cliente"
          #email_cliente="ngModel"
          [(ngModel)]="formData.email_cliente"
          class="form-control"
          placeholder="Ingresar Email"
          [class.is-invalid]="email_cliente.invalid && email_cliente.touched"
          required
        />
      </div>
    </div>
    <div class="col-md-3" *ngIf ="formData.idPais == 177">
        <div class="form-group">
          <label> Departamento</label>
          <ng-select  
          #idDepartamento="ngModel"  
          name="idDepartamento" 
          bindValue="idDepartamento" 
          placeholder="Buscar Departamento" 
          [(ngModel)]="formData.idDepartamento"  
          (change)="onSelectDepartamento($event)"
        >   
            <ng-option *ngFor="let emp of departamentos" [value]="emp.id">{{emp.nombre}}</ng-option>
         </ng-select> 
        </div>
      </div>
      <div class="col-md-3" *ngIf ="formData.idPais == 177">
        <div class="form-group">
          <label> Provincia</label>
          <ng-select  
          #idProvincia="ngModel"  
          name="idProvincia" 
          bindValue="idProvincia" 
          placeholder="Buscar Provincia" 
          [(ngModel)]="formData.idProvincia" 
          (change)="onSelectProvincia($event)"
        >   
       
            <ng-option *ngFor="let emp of provincias" [value]="emp.id">{{emp.nombre_provincia}}</ng-option>
         </ng-select> 
        </div>
      </div>
      <div class="col-md-3" *ngIf ="formData.idPais == 177">
        <div class="form-group">
          <label> Distrito</label>
          <ng-select  
          #idDistrito="ngModel"  
          name="idDistrito" 
          bindValue="idDistrito" 
          placeholder="Buscar Distrito" 
          [(ngModel)]="formData.idDistrito"  
        >   
       
            <ng-option *ngFor="let emp of distritos" [value]="emp.id">{{emp.nombre_distrito}}</ng-option>
         </ng-select> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
            <label> Sexo</label>
            <select 
            
            name="sexo_cliente" 
            #sexo_cliente="ngModel" 
            [(ngModel)]="formData.sexo_cliente"
            class="form-control" 
          
          
            >
              <option value="">-Seleccione Sexo-</option>
              <option value="F">Femenino</option>
              <option value="M">Masculino</option>
            
            </select> 
        </div>
      </div>
      
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-dark" 
  >
    <i class="fa fa-database"></i> Guardar </button>
   
  </div>
</form>
