<h1>Listado Empleados</h1>
<hr />
<div class="row">
  <div class="col text-right">
    <button routerLink="/mantenimientos/addempleado/nuevo" class="btn btn-primary">
      <i class="fa fa-plus"> Agregar </i>
    </button>
  </div>
</div>
<table
  *ngIf="!cargando && empleados.length > 0"
  class="table mt-3 animated fadeIn faster animated fadeIn faster"
>
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre Empleado</th>
      <th scope="col">Apellidos Paternos</th>
      <th scope="col">Apellidos Maternos</th>
      <th scope="col">Sexo</th>
      <th scope="col">Dni</th>
      

      <!-- <th scope="col">Estado</th> -->
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ empleado.nombre_empleado }}</td>
      <td>{{ empleado.apellidos_pat_empleado  }}</td>
      <td>{{ empleado.apellidos_mat_empleado  }}</td>
      <td>{{ empleado.sexo_empleado }}</td>
      <td>{{ empleado.dni_empleado}}</td>
   
 
      <!-- <td>
        <label *ngIf="empleado.estado" class="badge badge-success"
          >Activo</label
        >
        <label *ngIf="!empleado.estado" class="badge badge-danger"
          >Inactivo</label
        >
      </td> -->

      <td>
        <button class="btn btn-info mr-1" (click)="Editar(empleado.id)">
          <!--" la ruta seria producto/nuevo pero la transfomamos a producto/id"--><!-- Mndando un id en la ruta la ruta se manda en [] porque es una ruta dinamica cuando no se envia con llaves es una ruta dinamica como la que esta arriba-->
          <i class="fa fa-pen"></i>
        </button>
        <!-- <button class="btn btn-danger" (click)="Delete(nrocuenta, i)">
          <i class="fa fa-trash"></i> 
        </button> -->
      </td>
    </tr>
  </tbody>
</table>
<div
  *ngIf="!cargando && empleados.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">No hay registros</h4>
  <p>
    <i class="fa fa-exclamation fa-2px"></i>
  </p>
  <p class="mb-0">Espere por favor</p>
</div>
<div
  *ngIf="cargando"
  class="alert alert-info text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2px"></i>
  </p>
  <p class="mb-0">Espere por favor</p>
</div>
