<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="./assets/images/users/profile.png" alt="user" /><span class="hide-menu">Andy Torres </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <!-- <li><a href="javascript:void()">My Profile </a></li>
                        <li><a href="javascript:void()">My Balance</a></li>
                        <li><a href="javascript:void()">Inbox</a></li>
                        <li><a href="javascript:void()">Account Setting</a></li> -->
                        <!-- <li><a href="javascript:void()">Logout</a></li> -->
                        <li><a routerLink="../auth/login">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">SEGURIDAD <span class="label label-rouded label-themecolor pull-right">3</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="../mantenimientos/listarperfilusuario">Perfil Usuarios</a></li>
                        <li><a routerLink="../mantenimientos/listarempleado">Empleado</a></li>    
                        <li><a routerLink="../mantenimientos/listarestadoflujo">Estado FLujo</a></li>
                
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Mantenimientos <span class="label label-rouded label-themecolor pull-right">12</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="../mantenimientos/listarbanco">Banco</a></li>
                        <li><a routerLink="../mantenimientos/listarnrocuenta">NroCuenta</a></li>
                        <li><a routerLink="../mantenimientos/listarcategoria">Categoria</a></li> 
                        <li><a routerLink="../mantenimientos/listarmodelo">Modelo</a></li>
                        <li><a routerLink="../mantenimientos/listarproducto">Producto</a></li>
                        <li><a routerLink="../mantenimientos/listarproveedor">Proveedor</a></li>
                        <li><a routerLink="../mantenimientos/listartipodocumento">Tipo Documento</a></li> 
                        <li><a routerLink="../mantenimientos/listartipodevolucion">Tipo Devolucion</a></li> 
                        <li><a routerLink="../mantenimientos/listartipoingreso">Tipo Ingreso</a></li>
                        <li><a routerLink="../mantenimientos/listartiposalida">Tipo Salida</a></li>
                        <li><a routerLink="../mantenimientos/listartipopago">Tipo Pago</a></li>
                        <li><a routerLink="../mantenimientos/listarunidadmedida">Unidad de Medida</a></li> 
                        <li><a routerLink="../mantenimientos/listaralmacen">Sede Almacén</a></li> 
                        
             </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">KARDEX <span class="label label-rouded label-themecolor pull-right">3</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="../kardex/listarcotizacion">Cotización</a></li>
                        <li><a routerLink="../kardex/listarordencompra">Orden Compra</a></li>
                        <li><a routerLink="../kardex/listarentrada">Entrada Almacén</a></li>  
                        <li><a routerLink="../kardex/listarentradasinoc">Entrada Sin Orden</a></li>                    
                      

                    </ul>
                </li>
            </ul>
            
        </nav>
        
        <!-- End Sidebar navigation -->
    </div>
 
    <!-- End Sidebar scroll-->
</aside>
<!-- agregado -->

