 
<form
#form="ngForm"
autocomplete="off"
class="justify-content-center"
(submit)="onSubmit(form)"
>
<div class="row"> 


<div class="col-md-4">
  <div class="form-group">
      <label>Seleccionar Producto</label>

      <ng-select
        style="text-transform: uppercase"
        #idProducto="ngModel"
        name="idProducto"
        bindValue="idProducto"
        placeholder="Buscar Producto"
        [(ngModel)]="formData.idProducto"
      >
        <ng-option
          *ngFor="let emp of productos"
          [value]="emp.id"      
          >{{ emp.nombre_producto }}</ng-option
        >
      </ng-select>
    </div>
</div>

<div class="col-md-4">
  <div class="form-group">
      <label>Seleccionar Almacén</label>

      <ng-select
        style="text-transform: uppercase"
        #idAlmacen="ngModel"
        name="idAlmacen"
        bindValue="idAlmacen"
        placeholder="Buscar Almacen"
        [(ngModel)]="formData.idAlmacen"
      >
        <ng-option
          *ngFor="let emp of almacen"
          [value]="emp.id"
          [disabled]="emp.estado == 0"
          >{{ emp.nombre_alamcen }}</ng-option
        >
      </ng-select>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <label>Seleccionar Empleado</label>
        <ng-select
        style="text-transform: uppercase"
          #idEmpleado="ngModel"
          name="idEmpleado"
          bindValue="idEmpleado"
          placeholder="Buscar Empleado"
          [(ngModel)]="formData.idEmpleado"
        >
          <ng-option *ngFor="let emp of empleados" [value]="emp.id">{{
            emp.nombre_empleado
          }}</ng-option>
        </ng-select>
      </div>
  </div>

</div>

<div class="row"> 
    <div class="col-md-4">
        <div class="form-group">
            <label>Seleccionar Proveedor</label>
      
            <ng-select
            style="text-transform: uppercase"
              #idProovedor="ngModel"
              name="idProovedor"
              bindValue="idProovedor"
              placeholder="Buscar Proveedor"
              [(ngModel)]="formData.idProovedor"
            >
              <ng-option *ngFor="let emp of proveedores" [value]="emp.id">{{
                emp.nombre_proovedor
              }}</ng-option>
            </ng-select>
          </div>
      </div>

      <div class="col-xs-12 col-md-4">
    <div class="form-group">
        <label  for="inputAddress" class="form-label"> Fecha</label>
        <div class="input-group">
        <input
         
          [matDatepicker]="picker"
          placeholder="DD/MM/YYYY" 
          name="fecha"
          #fecha="ngModel" 
          [(ngModel)]="formData.fecha"
          class="form-control"
            
        />
      
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </div>
      </div>
  </div>
  
  <div class="col-md-8">
      <button type="submit" class="btn btn-dark">
          <i class="fa fa-database"></i> Consultar
        </button>
  </div> 
</div>

&nbsp;
 
<div class="row">
  <div class="col-md-8">
<th>
  <button   *ngIf="!cargando && detalleMovimiento.length > 0" mat-raised-button  color="primary"  (click)="exportAsXLSX()">Exportar
      <mat-icon>trending_down</mat-icon>
    
    </button>
 
<!-- <button mat-raised-button (click)="removeColumn()"> Remove column </button> -->
<!-- <button mat-raised-button (click)="shuffle()"> Shuffle </button> -->

</th>
  </div>
</div>
&nbsp;
 
<div
*ngIf="loading"
class="alert alert-info text-center mt-3 animated fadeIn faster"
>
<h4 class="alert-heading text-center">Cargando</h4>
<p class="text-center">
  <i class="fa fa-sync-alt fa-spin fa-2px "></i>
</p>
<p class="mb-0 text-center">Espere por favor</p>
</div>
 
&nbsp;
<div class="example-container mat-elevation-z8" *ngIf="!cargando && detalleMovimiento.length > 0">
  <table mat-table [dataSource]="detalleMovimiento" class="mat-elevation-z8" *ngIf="!cargando && detalleMovimiento.length > 0">
    <!-- <ng-container matColumnDef="numOrdenVenta" sticky> -->
      <ng-container matColumnDef="nro" sticky>
        <th mat-header-cell *matHeaderCellDef><b>NRO</b>  </th>
        <td mat-cell *matCellDef="let detalleMovimiento; let i = index"> {{ i + 1 }} </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>
      <ng-container matColumnDef="codProducto"  >
      <th mat-header-cell *matHeaderCellDef><b>CODMAT</b>  </th>
      <td mat-cell *matCellDef="let detalleMovimiento"> {{detalleMovimiento.codProducto}} </td>
      <td mat-footer-cell *matFooterCellDef> <B> TOTAL MOV: </B> </td>
    </ng-container>
  
    <ng-container matColumnDef="producto" >
      <th mat-header-cell *matHeaderCellDef> <b>MATERIAL</b>  </th>
      <td mat-cell *matCellDef="let detalleMovimiento"> {{detalleMovimiento.producto | uppercase }} </td>
      <td mat-footer-cell *matFooterCellDef><b> {{detalleMovimiento?.length }}</b> </td>
    </ng-container>
  
      <ng-container matColumnDef="almacen">
      <th mat-header-cell *matHeaderCellDef> <b>ALMACÉN</b> </th>
      <td mat-cell *matCellDef="let detalleMovimiento"> {{detalleMovimiento?.almacen | uppercase}} </td>
      <td mat-footer-cell *matFooterCellDef>  </td>
    </ng-container> 
    <ng-container matColumnDef="claseMov">
      <th mat-header-cell *matHeaderCellDef> <b>CLASE MOVIMIENTO</b> </th>
      <td mat-cell *matCellDef="let detalleMovimiento"> {{detalleMovimiento?.claseMov| uppercase }} </td>
      <td mat-footer-cell *matFooterCellDef>  </td>
    </ng-container> 
   
    <ng-container matColumnDef="fecha_calendar">
      <th mat-header-cell *matHeaderCellDef> <b>FECHA</b> </th>
      <td mat-cell *matCellDef="let detalleMovimiento"> {{detalleMovimiento?.fecha_calendar  }} </td>
      <td mat-footer-cell *matFooterCellDef>  </td>
    </ng-container> 
    <ng-container matColumnDef="time_calendar">
      <th mat-header-cell *matHeaderCellDef> <b>HORA</b> </th>
      <td mat-cell *matCellDef="let detalleMovimiento"> {{detalleMovimiento?.time_calendar  }} </td>
      <td mat-footer-cell *matFooterCellDef>  </td>
    </ng-container> 
  
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef> <b>CANTIDAD</b> </th>
      <td mat-cell *matCellDef="let detalleMovimiento"> {{detalleMovimiento?.cantidad  }} </td>
      <td mat-footer-cell *matFooterCellDef>  </td>
    </ng-container> 
  
    <ng-container matColumnDef="um">
      <th mat-header-cell *matHeaderCellDef> <b>UM</b> </th>
      <td mat-cell *matCellDef="let detalleMovimiento"> {{detalleMovimiento?.um | uppercase }} </td>
      <td mat-footer-cell *matFooterCellDef>  <b>TOTAL: </b></td>
    </ng-container> 
  
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> <b>IMPORTE</b> </th>
      <td mat-cell *matCellDef="let detalleMovimiento"> S/.{{detalleMovimiento?.precio | number: '1.2-2' }} </td>
      <td mat-footer-cell *matFooterCellDef> <b> S/. {{getTotalCost()  | number: '1.2-2'}}</b> </td>
    </ng-container> 
   
    <ng-container matColumnDef="nombreEmpleado">
      <th mat-header-cell *matHeaderCellDef> <b>EMPLEADO</b> </th>
      <td mat-cell *matCellDef="let detalleMovimiento"> {{detalleMovimiento?.nombreEmpleado  | uppercase }} </td>
      <td mat-footer-cell *matFooterCellDef> </td>  
    </ng-container> 

    <ng-container matColumnDef="nombreproveedor">
      <th mat-header-cell *matHeaderCellDef> <b>PROVEEDOR</b> </th>
      <td mat-cell *matCellDef="let detalleMovimiento"> {{detalleMovimiento?.nombreProovedor  | uppercase }} </td>
      <td mat-footer-cell *matFooterCellDef> </td>  
    </ng-container> 
    <ng-container matColumnDef="nroOrden">
      <th mat-header-cell *matHeaderCellDef> <b>NRO DE DOCUMENTO</b> </th>
      <td mat-cell *matCellDef="let detalleMovimiento"> {{detalleMovimiento?.nroOrden  }} </td>
      <td mat-footer-cell *matFooterCellDef>  </td>
    </ng-container> 
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef> <b>CODIGO</b> </th>
      <td mat-cell *matCellDef="let detalleMovimiento"> {{detalleMovimiento?.codigo  }} </td>
      <td mat-footer-cell *matFooterCellDef>  </td>
    </ng-container> 
  
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  </div> 
 
<div
*ngIf="cargando && detalleMovimiento?.length === 0"
class="alert alert-warning text-center mt-3 animated fadeIn faster"
>
<h4 class="alert-heading">No existen registros</h4> 
</div> 

</form> 

<br />
