<h1><small>Agregar Almacén</small></h1>
<hr />
<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="../../listaralmacen">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>
<br />

<form
  #form="ngForm"
  autocomplete="off"
  *ngIf="formData"
  (submit)="onSubmit(form)"
>
<input
type="hidden"
name="id"
#id="ngModel"
[(ngModel)]="formData.id"
/>
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label> Codigo Almacén</label>
      <input
      style="text-transform:uppercase"
        name="cod_alamcen"
        #cod_alamcen="ngModel"
        [(ngModel)]="formData.cod_alamcen"
        class="form-control"
        placeholder="Ingresar Codigo Almacén"
        [class.is-invalid]="cod_alamcen.invalid && cod_alamcen.touched"
        required
      />
    </div>
  </div>
  <div class="col-md-3">
      <div class="form-group">
        <label>Nombre Almacén</label>
        <input
        style="text-transform:uppercase"
          name="nombre_alamcen"
          #nombre_alamcen="ngModel"
          [(ngModel)]="formData.nombre_alamcen"
          class="form-control"
          placeholder="Ingresar Nombre Almacén"
          [class.is-invalid]="nombre_alamcen.invalid && nombre_alamcen.touched"
          required
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label> Dirección</label>
        <input
        style="text-transform:uppercase"
          name="direccion_almacen"
          #direccion_almacen="ngModel"
          [(ngModel)]="formData.direccion_almacen"
          class="form-control"
          placeholder="Ingresar Dirección"
          [class.is-invalid]="direccion_almacen.invalid && direccion_almacen.touched"
          required
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group"> 
          <label> Pais</label>
          <ng-select  
          #idPais="ngModel"  
          name="idPais" 
          bindValue="idPais" 
          placeholder="Buscar Pais" 
          [(ngModel)]="formData.idPais"  
        >   
            <ng-option *ngFor="let emp of paises" [value]="emp.id">{{emp.nombre_pais}}</ng-option>
         </ng-select> 
         <!-- {{formData.idPais| json}} -->
      </div>
    </div>
    
</div>

<div class="row" *ngIf ="formData.idPais == 177">
 
  <div class="col-md-4">
    <div class="form-group">
      <label> Departamento</label>
      <ng-select  
      #idDepartamento="ngModel"  
      name="idDepartamento" 
      bindValue="idDepartamento" 
      placeholder="Buscar Departamento" 
      [(ngModel)]="formData.idDepartamento"  
      (change)="onSelectDepartamento($event)"
    >   
          <ng-option *ngFor="let emp of departamentos" [value]="emp.id">{{emp.nombre}}</ng-option>
     </ng-select> 
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label> Provincia</label>
      <ng-select  
      #idProvincia="ngModel"  
      name="idProvincia" 
      bindValue="idProvincia" 
      placeholder="Buscar Provincia" 
      [(ngModel)]="formData.idProvincia" 
      (change)="onSelectProvincia($event)"
    >   
          <ng-option *ngFor="let emp of provincias" [value]="emp.id">{{emp.nombre_provincia}}</ng-option>
     </ng-select> 
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label> Distrito</label>
      <ng-select  
      #idDistrito="ngModel"  
      name="idDistrito" 
      bindValue="idDistrito" 
      placeholder="Buscar Distrito" 
      [(ngModel)]="formData.idDistrito"  
    >   
          <ng-option *ngFor="let emp of distritos" [value]="emp.id">{{emp.nombre_distrito}}</ng-option>
     </ng-select> 
    </div>
  </div>
</div>






<div class="form-group">
  <button type="submit" class="btn btn-dark" 
>
  <i class="fa fa-database"></i> Guardar </button>
 
</div>
</form>
