<h1><small>Agregar Empleado</small></h1>
<hr />
<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="../../listarempleado">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>
<br />


<form
  #form="ngForm"
  autocomplete="off"
  *ngIf="formData" 
  (submit)="onSubmit(form)"
 



>
<!-- -->
 
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label> Nombre Empleado</label>
        <input
        style="text-transform:uppercase"
        type="text"
          name="nombre_empleado"
          #nombre_empleado="ngModel"
          [(ngModel)]="formData.nombre_empleado"
          class="form-control"
          placeholder="Ingresar Nombre Empleado"
        
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
          <label> Apellido Paterno</label>
        <input
        style="text-transform:uppercase"
          name="apellidos_pat_empleado"
          #apellidos_pat_empleado="ngModel"
          [(ngModel)]="formData.apellidos_pat_empleado"
          class="form-control"
          placeholder="Ingresar Apellido Paterno"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label> Apellido Materno</label>
        <input
        style="text-transform:uppercase"
          name="apellidos_mat_empleado"
          #apellidos_mat_empleado="ngModel"
          [(ngModel)]="formData.apellidos_mat_empleado"
          class="form-control"
          placeholder="Ingresar Apellido Paterno"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label> Sexo</label>
        <select 
        name="sexo_empleado" 
        #sexo_empleado="ngModel" 
        [(ngModel)]="formData.sexo_empleado"
        class="form-control"  
        >
          <option value = "">-Seleccione Sexo-</option>
          <option value="F">Femenino</option>
          <option value="M">Masculino</option>
        
        </select> 
      </div>
    </div>
    
    
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label> Tipo Documento</label>
        <select  
                name="idTipoDocumento" 
                #idTipoDocumento="ngModel" 
                [(ngModel)]="formData.idTipoDocumento"
                class="form-control"  
                >
 
                  <option value="0">-Select-</option>
                  <option *ngFor="let tipodocumento of tipodocumentos" value="{{tipodocumento.id}}">{{tipodocumento.tipo_documento}}</option>
                        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label> Nro Documento</label>
        <input
        style="text-transform:uppercase"
        type="number"
          name="dni_empleado"
          #dni_empleado="ngModel"
          [(ngModel)]="formData.dni_empleado"
          class="form-control"
          placeholder="Ingresar Nro Documento"
          type="number"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label> Dirección</label>
        <input
        style="text-transform:uppercase"
          name="direccion_empleado"
          #direccion_empleado="ngModel"
          [(ngModel)]="formData.direccion_empleado"
          class="form-control"
          placeholder="Ingresar Dirección"
        />
      </div>
    </div>
 
   
      <div class="col-md-3">
        <div class="form-group">
          <label> Email</label>
          <input
          style="text-transform:uppercase"
            name="email_empleado"
            #email_empleado="ngModel"
            [(ngModel)]="formData.email_empleado"
            class="form-control"
            placeholder="Ingresar Email"
            type="email"
          />
        </div>
      </div>
   
  </div>


  <div class="row">
   
    <div class="col-md-3">
      <div class="form-group">
        <label> Pais</label>
        <ng-select  
        #idPais="ngModel"  
        name="idPais" 
        bindValue="idPais" 
        placeholder="Buscar Pais" 
        [(ngModel)]="formData.idPais"  
      >   
          <ng-option *ngFor="let emp of paises" [value]="emp.id">{{emp.nombre_pais}}</ng-option>
       </ng-select> 
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label> Perfil Usuario</label>
        <ng-select  
        #idPerfilUsuario="ngModel"  
        name="idPerfilUsuario" 
        bindValue="idPerfilUsuario" 
        placeholder="Buscar Perfil" 
        [(ngModel)]="formData.idPerfilUsuario"  
      >   
          <ng-option *ngFor="let emp of perfiles" [value]="emp.id">{{emp.tipo_usuario}}</ng-option>
       </ng-select> 
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label> Fecha Nacimiento</label>
        <input
    
        [matDatepicker]="picker"
        placeholder="DD/MM/YYYY" 
        name="fecha_empleado"
        #fecha_empleado="ngModel" 
        [(ngModel)]="formData.fecha_empleado"
        class="form-control"  
      
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-dark" 
  >
    <i class="fa fa-database"></i> Guardar </button>
   
  </div>
</form>

 