<nav class="navbar navbar-expand-md navbar-light bg-faded" style="background-color: #e3f2fd;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
  
            <!-- active -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['../listarcotizacion']">ACTIVAS</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['../listarcotianulada']">ANULADAS</a>
            </li>
          
        </ul>
 
    </div>
  </nav>
  <br>


  <h1>Listado Cotización Anuladas </h1>
  <hr />

  <table class="table table-hover">
      <thead class="thead-dark">
        <th scope="col">#</th>
          <th scope="col">#Cotizacion Nro</th>
          <th scope="col">Proveedor</th>
          <th scope="col">Empleado</th>
          <th scope="col">Total</th>
          <th scope="col">Estado</th>
        
      </thead>
      <tbody>
          <tr *ngFor="let item of cotizaciones; let i = index" >
            <th scope="row">{{ i + 1 }}</th>
            <th (click)="openForEdit(item.id)">{{item.codigo_cotizacion_num}}</th>
            <td (click)="openForEdit(item.id)">{{item.detalleProovedor[0].nombre_proovedor}}</td>
            <td (click)="openForEdit(item.id)">{{item.detalleEmpleado[0].nombre_empleado}}</td>
            <td (click)="openForEdit(item.id)">{{item.total_costo}}</td>
            <!-- <td (click)="openForEdit(item.id)">{{item.idEstadoFlujo}}</td> -->
            <td>
              
              <label *ngIf="item.idEstadoFlujo == 3" class="badge badge-danger"
              >Anulado</label
            >
            </td>

            
          </tr>
        </tbody>
  </table>
  <div
    *ngIf="!cargando && cotizaciones.length === 0"
    class="alert alert-warning text-center mt-3 animated fadeIn faster"
  >
    <h4 class="alert-heading">No hay registros</h4>
    <p>
      <i class="fa fa-exclamation fa-2px"></i>
    </p>
    <p class="mb-0">Espere por favor</p>
  </div>
  <div
    *ngIf="cargando"
    class="alert alert-info text-center mt-3 animated fadeIn faster"
  >
    <h4 class="alert-heading">Cargando</h4>
    <p>
      <i class="fa fa-sync-alt fa-spin fa-2px"></i>
    </p>
    <p class="mb-0">Espere por favor</p>
  </div>
  