<div class="col-md-12">
  <div class="card"> 

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!-- <img src="../../../../assets/images/icono-devolucion.png" width="35" height="30" alt=""> -->
                  <li class="nav-item dropdown" >
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                      <span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Transferencia O/C</span>
                  </a>
                  <div class="dropdown-menu"> 
                    <a class="dropdown-item" id="dropdown1-tab"[routerLink]="['../transferencias']" role="tab" data-toggle="tab" aria-controls="dropdown1">Listado Transferencias</a> 
                    <a class="dropdown-item" id="dropdown2-tab" [routerLink]="['../listartransferencia']"  role="tab" data-toggle="tab" aria-controls="dropdown2">Ingresos Almacén</a> </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Transferencia sin O/C</span>
                </a>
                <div class="dropdown-menu"> <a class="dropdown-item" id="dropdown1-tab" [routerLink]="['../transferenciassinoc']" role="tab" data-toggle="tab" aria-controls="dropdown1">Listado Transferencias sin OC</a> 
                  <a class="dropdown-item" id="dropdown2-tab" [routerLink]="['../listartransferenciasinoc']" role="tab" data-toggle="tab" aria-controls="dropdown2">Ingresos Almacén sin O/C</a> </div>
            </li>
          </ul> 
  </div>
</div> 
  <h1>Listado Ingresos Entrada Almacén sin O/C </h1>
  <hr />
  <table class="table table-hover">
    <thead class="thead-dark">
      <th scope="col">#</th>
        <th scope="col">#Nro Ingreso</th>
          <th scope="col">Tipo Movimiento</th>
          <th scope="col">Fecha</th> 
          <th scope="col">Estado</th>
       <!-- <th scope="col">Empleado</th> -->
 
      
    </thead>
    <tbody>
        <tr *ngFor="let item of ListIngresoSinOcCerrados; let i = index" >
          <th scope="row">{{ i + 1 }}</th>
          <th (click)=" openForEdit(item.id) ">{{item.codigoIngresoSinOc}}</th>
           <td (click)=" openForEdit(item.id)">{{item.detalleTipoIngreso[0].descripcion_ingreso}}</td>
           <td (click)=" openForEdit(item.id)">{{item.fechaIngreso}}</td>
           <td>
            <label *ngIf="item.idFlujo == 2" class="badge bg-success"
              >
  
              KARDEX</label
            >
     
           <!-- <td (click)=" openForEdit(item.id)">{{item.detalleCotizacion[0].detalleEmpleado[0].nombre_empleado}}</td> -->
      
          <td>
            <button class="btn btn-info mr-1" (click)="openForEdit(item.id)">
                 <i class="fa fa-pen"></i> 
         </button> 
 
        </td>  
        </tr>
    </tbody>
  </table>  

  <div
  *ngIf="!cargando && ListIngresoSinOcCerrados.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">No hay registros</h4>
  <p>
    <i class="fa fa-exclamation fa-2px"></i>
  </p>
  <p class="mb-0">Espere por favor</p>
</div>
<div
  *ngIf="cargando"
  class="alert alert-info text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2px"></i>
  </p>
  <p class="mb-0">Espere por favor</p>
</div>

