<h4 class="dispaly-4">Salida Productos</h4> 
 
<hr />

<form #form="ngForm" autocomplete="off"   *ngIf="formData" (submit)="onSubmit(form)">
 
<input
type="hidden" 
name="idProducto"
#idProducto="ngModel"
[(ngModel)]="formData.idProducto"
/> 

<input
type="hidden" 
name="idAlmacen1"
#idAlmacen1="ngModel"
[(ngModel)]="formData.idAlmacen1"
/> 
 
<div class="form-row">
    <div class="form-group col-md-3">

     <label>Producto</label>
        <input
        style="text-transform:uppercase"
          name="nombre_producto"
          #nombre_producto="ngModel"
          [(ngModel)]="formData.nombre_producto"
          class="form-control"
          readonly
        />  
    </div>

    <div class="form-group col-md-3">

      <label>Unidad Medida</label>
         <input
         style="text-transform:uppercase"
           name="detalleNameUnidadMedida"
           #detalleNameUnidadMedida="ngModel"
           [(ngModel)]="formData.detalleNameUnidadMedida"
           class="form-control"
           readonly
         />  
     </div>
    <!-- 
    -->
    <div class="form-group col-md-2">
        <label>Stock</label>
        <input
          name="cantidadIngresoOc"
          #cantidadIngresoOc="ngModel"
          [(ngModel)]="formData.cantidadIngresoOc"
          class="form-control"
          readonly
        />
    </div> 
    <div class="form-group col-md-4">
      <label>Almacén</label>
      <ng-select 
      style="text-transform:uppercase"
    [items]="almacenes"  
   bindLabel="nombre_alamcen"
   bindValue="id"   
   placeholder="Buscar Almacén" 
   [(ngModel)]="formData.idAlmacen1" 
   disabled
   > 
</ng-select>   
     
  </div>
</div>

 <div class="form-row">
    <div class="form-group col-md-3">
        <label>Tipo Salida</label>
     
        <ng-select 
        style="text-transform:uppercase"
        [items]="tiposalidas"
       bindLabel="descripcion_salida"
       bindValue="id" 
       placeholder="Buscar Salida"
       name="idTipoSalida"  
       #idTipoSalida="ngModel"
       [(ngModel)]="formData.idTipoSalida"
       (change)="onChange($event)"
       
        >
  
  </ng-select>
    </div>
    <div class="form-group col-md-3">
        <label>Cantidad Salida</label>
        <input
        type="number"
          name="cantidadSalida"
          #cantidadSalida="ngModel"
          [(ngModel)]="formData.cantidadSalida"
          class="form-control"
     
        />
    </div>
    <div class="form-group col-md-3">
      <label>Detalle Salida</label>
      <input
      style="text-transform:uppercase"
      type="text"
        name="detalleSalida"
        #detalleSalida="ngModel"
        [(ngModel)]="formData.detalleSalida"
        class="form-control"
    
      />
      
    </div>
    <div class="form-group col-md-3">
      <label> Fecha  Salida</label> 
    
      <input
      
      [matDatepicker]="picker"
      placeholder="DD/MM/YYYY" 
      name="fechaSalida"
      #fechaSalida="ngModel" 
      [(ngModel)]="formData.fechaSalida"
      class="form-control" 
      [class.is-invalid]="fechaSalida.invalid && fechaSalida.touched" 
      required
    
    />
    <small *ngIf="fechaSalida.invalid && fechaSalida.touched"
    class="form-text text-danger">Ingrese Fecha</small>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>
      
    </div>
</div>
  
<br>


  <div class="form-group">
    <button type="submit" class="btn btn-dark">
      <i class="fa fa-database"></i> Guardar
    </button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]>
      <i class="fa fa-close"></i> Salir
    </button>
  </div>
</form>
