<h4 class="dispaly-4">Regularizar Almacén</h4>
<hr />

<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
   <input
    type="hidden" 
    name="id"
    #id="ngModel"
    [(ngModel)]="formData.id"
  />   

  <input
    type="hidden" 
    name="id"
    #id="ngModel"
    [(ngModel)]="formData.id"
  />   


  <input
  type="hidden" 
  name="idIngresoAlmacen"
  #idIngresoAlmacen="ngModel"
  [(ngModel)]="formData.idIngresoAlmacen"
/> 
<input
type="hidden"
name="descripcion_salida"
#descripcion_salida="ngModel"
[(ngModel)]="formData.descripcion_salida"
/>

<input
type="hidden"
name="idtipoSalida"
#idtipoSalida="ngModel"
[(ngModel)]="formData.idtipoSalida"
/>
<div class="form-row">
    <div class="form-group col-md-4">

        <label>Producto</label>
        <input
          name="detalleNameProducto"
          #detalleNameProducto="ngModel"
          [(ngModel)]="formData.detalleNameProducto"
          class="form-control"
          readonly
        />

    </div>
    <div class="form-group col-md-4">
        <label>Unidad Medida</label>
        <input
    type="text" 
    name="detalleNameUnidadMedida"
    #detalleNameUnidadMedida="ngModel"
    [(ngModel)]="formData.detalleNameUnidadMedida"
    class="form-control"
    readonly
    />

    </div>
    <div class="form-group col-md-4">
        <label>Stock</label>
        <input
          name="cantidadPrincipal"
          #cantidadPrincipal="ngModel"
          [(ngModel)]="formData.cantidadPrincipal"
          class="form-control"
          readonly
        />
    </div>

</div>

<div class="form-row">
    <div class="form-group col-md-4">
        <label>Tipo Devolución</label>
     
        <ng-select 
        [items]="tiposalidas"
       bindLabel="descripcion_salida"
       bindValue="id" 
       placeholder="Buscar Salida"
       [(ngModel)]="formData.idtipoSalida"
       (change)="onChange($event)"
       
        >
  
  </ng-select>
    </div>
    <div class="form-group col-md-4">
        <label>Cantidad Devolución</label>
        <input
        type="number"
          name="cantidadDevolucion"
          #cantidadDevolucion="ngModel"
          [(ngModel)]="formData.cantidadDevolucion"
          class="form-control"
     
        />
    </div>
    <div class="form-group col-md-4">

        <label>Detalle Devolución</label>
        <input
        type="text"
          name="detalleDevolucion"
          #detalleDevolucion="ngModel"
          [(ngModel)]="formData.detalleDevolucion"
          class="form-control"
     
        />
    </div>

</div>

 
<br>


  <div class="form-group">
    <button type="submit" class="btn btn-dark">
      <i class="fa fa-database"></i> Guardar
    </button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]>
      <i class="fa fa-close"></i> Salir
    </button>
  </div>
</form>
