

<h1>Listado Entrada Almacén </h1>
<hr />
<div class="row">
  <div class="col text-right">
    <button routerLink="/kardex/ingresoalmacen" class="btn btn-primary">
      <i class="fa fa-plus"> Agregar </i>
    </button>
  </div>
</div>
<table class="table table-hover">
  <thead class="thead-dark">
    <th scope="col">#</th>
      <th scope="col">#Ingreso Almacén Nro</th>
        <th scope="col">Nro de Orden Compra</th>
        <th scope="col">Tipo Ingreso</th> 
     <th scope="col">Empleado</th>  
      <!--  <th scope="col">Total</th>
      <th scope="col">Estado</th> -->
    
  </thead>
  <tbody>
      <tr *ngFor="let item of ingresosAlmacen; let i = index" >
        <th scope="row">{{ i + 1 }}</th>
        <th (click)=" openForEdit(item.id) ">{{item.codigoIngreso}}</th>
         <td (click)=" openForEdit(item.id)">{{item.detalleOrden[0].codigo_orden_num}}</td>
         <td (click)=" openForEdit(item.id)">{{item.detalleTipoIngreso[0].descripcion_ingreso}}</td>
         <td (click)=" openForEdit(item.id)">{{item.detalleOrden[0].detalleEmpleado[0].nombre_empleado}}</td>
         <!--
        <td (click)="openForEdit(item.id)">{{item.detalleEmpleado[0].nombre_empleado}}</td>
        <td (click)=" openForEdit(item.id)">{{item.total_costo}}</td> -->
        <!-- <td (click)="openForEdit(item.id)">{{item.idEstadoFlujo}}</td> -->
        <!-- <td>
          <label *ngIf="item.idEstadoFlujo == 2" class="badge bg-success"
            >

            Cerrado</label
          >
          <label *ngIf="item.idEstadoFlujo == 1" class="badge bg-warning text-dark"
            >Pendiente</label
          >
          <label *ngIf="item.idEstadoFlujo == 3" class="badge badge-danger"
          >Anulado</label
        >
        </td> -->
     <!-- <td>
 
       <button class="btn btn-outline-dark" (click)="borrarCotizacion(item, i)">
        <i class="fa fa-trash"></i> 
          
    </button> 
      
      </td>   -->
      
         <!-- <td> <button class="btn btn-info mr-1" (click)="openForEdit(item.id)">            
        <i class="fa fa-pen"></i> 
        </button>
      </td> -  -->
      </tr>
    </tbody>
</table>