
.jumbotron{
    padding-top: 0px;
    background: #fff;
}

.form-control,.input-group-text{
    border:1px solid #0080ff;
}
.form-control2,.input-group-text{
    border:2px solid #ee0b0b;
    text-align:right;
    float:right;
    width:100;
  
}

.form-control3,.input-group-text{
    border:0px solid #faf7f7;
    text-align:right;
    float:right;
    width:150px;
  
}
table.table-hover tbody tr:hover{
cursor: pointer;
}