
<h1><small>Agregar Detalles de Ventas - Tipo Cliente -  

  <!-- <b *ngIf="ventaService?.formData.idcategoriaCliente == '1' " style="color: #ec2411" >  {{ventaService?.formData.descripcion_catcli | uppercase}}</b>   
   
 
  <b *ngIf="ventaService?.formData.idcategoriaCliente == '2' " style="color: #31bf0a" >  {{ventaService?.formData.descripcion_catcli | uppercase}}</b>  
 

 <b *ngIf="ventaService?.formData.idcategoriaCliente == '3' "  style="color: #3145ff" >  {{ventaService?.formData.descripcion_catcli | uppercase}}</b>   -->
 {{ventaService?.formData.descripcion_catcli | uppercase}}  


</small></h1>

<hr />
<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="../../listarventa">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>
<br />

<form
  #form="ngForm"
  autocomplete="off"
  *ngIf="ventaService.formData"
  (submit)="onSubmit(form)"
>
  <input
    type="hidden"
    name="id"
    #id="ngModel"
    [(ngModel)]="ventaService.formData.id"
  />
 
 

  <input
type="hidden"
name="idCliente"
#idCliente="ngModel"
[(ngModel)]="ventaService.formData.idCliente"
/>

 <!-- <div class="col-md-4">
  <div class="form-group">
    <label>Departamento 1</label>
    <input
      type="text"
      name="nombre"
      #nombre="ngModel"
      [(ngModel)]="ventaService.formData.nombre"
      class="form-control"
      disabled="disabled"
    />
  </div>
</div> -->
 




<div class="row"> 
  <div class="col-xs-12 col-md-4">
    <div class="form-group">
      <label for="">Fecha Cotización</label>
      <div class="input-group">
        <input 
        [matDatepicker]="picker2"
        placeholder="DD/MM/YYYY" 
        name="fechaCotizacion"
        #fechaCotizacion="ngModel" 
        [(ngModel)]="ventaService.formData.fechaCotizacion"
        class="form-control"  
        [class.is-invalid]="fechaCotizacion.invalid && fechaCotizacion.touched"
          required 
      />  
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      </div>
      <small *ngIf="fechaCotizacion.invalid && fechaCotizacion.touched"
      class="form-text text-danger">Ingrese Fecha</small>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label> Campaña Venta  </label>
      <ng-select  
      style="text-transform:uppercase"
        #idCampain="ngModel"  
        name="idCampain" 
        bindValue="idCampain" 
        placeholder="Buscar Campaña Venta" 
        [(ngModel)]="ventaService.formData.idCampain"  
       
      >   
          <ng-option *ngFor="let emp of campania" 
          [value]="emp.id"  [disabled]="emp.estado == 0">{{emp.descripcion_campain}}</ng-option>
          
       </ng-select> 
    </div> 
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label> Canal Venta  </label>
      <ng-select  
      style="text-transform:uppercase"
        #idCanalVenta="ngModel"  
        name="idCanalVenta" 
        bindValue="idCanalVenta" 
        placeholder="Buscar Canal Venta" 
        [(ngModel)]="ventaService.formData.idCanalVenta"  
      >   
          <ng-option *ngFor="let emp of canalVenta" 
          [value]="emp.id"  [disabled]="emp.estado == 0">{{emp.descripcion_canal}}</ng-option>
       </ng-select> 
    </div> 
  </div>
</div>
 
  <div class="row"> 
    <div class="col-md-4">
      <div class="form-group">
        <label> Tipo Cotización  </label>
        <ng-select  
        style="text-transform:uppercase"
          #idTipoCotizacion="ngModel"  
          name="idTipoCotizacion" 
          bindValue="idTipoCotizacion" 
          placeholder="Buscar Tipo Cotización" 
          [(ngModel)]="ventaService.formData.idTipoCotizacion"  
        >   
            <ng-option *ngFor="let emp of tipocotizacion" 
            [value]="emp.id"  [disabled]="emp.estado == 0">{{emp.descrip_tip_cot_venta}}</ng-option>
         </ng-select> 
      </div> 
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <label for="">Fecha Entrega</label>
        <div class="input-group">
          <input 
          [matDatepicker]="picker"
          placeholder="DD/MM/YYYY" 
          name="fechaEntrega"
          #fechaEntrega="ngModel" 
          [(ngModel)]="ventaService.formData.fechaEntrega"
          class="form-control"  
          [class.is-invalid]="fechaEntrega.invalid && fechaEntrega.touched"
            required 
        />  
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        </div>
        <small *ngIf="fechaEntrega.invalid && fechaEntrega.touched"
        class="form-text text-danger">Ingrese Fecha</small>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label> Linea </label>
        <ng-select  
        style="text-transform:uppercase"
          #idLinea="ngModel"  
          name="idLinea" 
          bindValue="idLinea" 
          placeholder="Buscar Linea" 
          [(ngModel)]="ventaService.formData.idLinea"  
        >   
            <ng-option *ngFor="let emp of linea" 
            [value]="emp.id"  [disabled]="emp.estado == 0">{{emp.detalle_linea}}</ng-option>
         </ng-select> 
      </div> 
    </div> 
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="form-group">
        <label> Cotización Nro.  </label>
        <input
          name="codigo_cotizacion_num_venta"
          #codigo_cotizacion_num_venta="ngModel"
          [(ngModel)]="ventaService.formData.codigo_cotizacion_num_venta"
          class="form-control"
          readonly
        />
      </div> 
    </div>
  
    <div class="col-md-4">
      <div class="form-group">
        <label> Cliente</label> 
        
  <ng-select 
        style="text-transform:uppercase"
       [items]="clientes"
       bindLabel="nombre_cliente"  
       bindValue="id" 
       placeholder="Buscar Clientes"
       [(ngModel)]="ventaService.formData.idCliente" 
       (change)="UpdateCliente($event)" 
        >
   </ng-select>      

         
 
  <!-- <ng-select  
      style="text-transform:uppercase"
      #idCliente="ngModel"  
      name="idCliente"  
      placeholder="Buscar Cliente" 
      [(ngModel)]="ventaService.formData.idCliente"  
      [loading]="loading"
      (ngModelChange)="UpdateCliente2()"
    >   
     <ng-option *ngFor="let emp of clientes" [value]="emp.id" [disabled]="emp.estado == 0">{{emp.nombre_cliente}}</ng-option> 
     </ng-select>  
  -->


      </div>
    </div>


    <div class="col-md-4">
    <div class="form-group">
      <label> Tipo Moneda</label>
      <ng-select  
      style="text-transform:uppercase"
      #idTipoMoneda="ngModel"  
      name="idTipoMoneda" 
      bindValue="idTipoMoneda" 
      placeholder="Buscar Tipo Moneda" 
      [(ngModel)]="ventaService.formData.idTipoMoneda"  
    >   
        <ng-option *ngFor="let emp of tipoMoneda" [value]="emp.id" [disabled]="emp.estado == 0">{{emp.nombre_moneda}}</ng-option>
     </ng-select> 
 
    </div> </div>
  </div>

  <div class="row"> 
<div class="col-md-4">
  <div class="form-group">
    <label>Departamento</label>
    <input
    style="text-transform:uppercase"
      type="text"
      name="nombre"
      #nombre="ngModel"
      [(ngModel)]="ventaService.formData.nombre"
      class="form-control"
      disabled="disabled"
    />
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label>Provincia</label>
    <input
    style="text-transform:uppercase"
      type="text"
      name="nombre_provincia"
      #nombre_provincia="ngModel"
      [(ngModel)]="ventaService.formData.nombre_provincia"
      class="form-control"
      disabled="disabled"
    />
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label>Distrito</label>
    <input
    style="text-transform:uppercase"
      type="text"
      name="nombre_distrito"
      #nombre_distrito="ngModel"
      [(ngModel)]="ventaService.formData.nombre_distrito"
      class="form-control"
      disabled="disabled"
    />
  </div>
</div>
    <!-- <div class="col-md-4">
      <div class="form-group">
        <label> Linea </label>
        <ng-select  
        style="text-transform:uppercase"
          #idLinea="ngModel"  
          name="idLinea" 
          bindValue="idLinea" 
          placeholder="Buscar Linea" 
          [(ngModel)]="ventaService.formData.idLinea"  
        >   
            <ng-option *ngFor="let emp of linea" 
            [value]="emp.id">{{emp.detalle_linea}}</ng-option>
         </ng-select> 
      </div> 
    </div> -->
    <!-- <div class="col-md-2">
    <div class="form-group">
      <label> Monto Total</label>
      <input
      type="number"
        name="totalGeneral"
        #totalGeneral="ngModel"
        [(ngModel)]="ventaService.formData.totalGeneral"
        class="form-control" 
        readonly
      /> 
    </div>
  
    </div> -->
    
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Empleado</label>
  
        <ng-select  
        style="text-transform:uppercase"
        #idEmpleado="ngModel"  
        name="idEmpleado" 
        bindValue="idEmpleado" 
        placeholder="Buscar Empleado" 
        [(ngModel)]="ventaService.formData.idEmpleado"  
      >   
          <ng-option *ngFor="let emp of empleados" [value]="emp.id" [disabled]="emp.estado == 0">{{emp.nombre_empleado}}</ng-option>
       </ng-select> 
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label> Detalle Cabecera</label>
        <input
        style="text-transform:uppercase"
        class="form-control" 
          type="text"
          name="detalle"
          placeholder="Detalle"          
          #detalle="ngModel"
          [(ngModel)]="ventaService.formData.detalle" 
  
        
        />
      
      </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label> Monto Total</label>
          <input
          type="number"
            name="totalGeneral"
            #totalGeneral="ngModel"
            [(ngModel)]="ventaService.formData.totalGeneral"
            class="form-control" 
            readonly
          /> 
        </div>
      
        </div>
    </div>

    <div class="row">
      <div class="col-md-3">
      <div class="form-group">
        <label> Descuento Cotización %</label>
        <input
        type="number"
          name="descuento_cot" 
          #descuento_cot="ngModel"
          [(ngModel)]="ventaService.formData.descuento_cot "
          class="form-control"
          (keyup)="updateMontoTotal()"
          (change)="onDecimal($event)"
        />
      </div>
    </div>
    <div class="col-md-3">
    <div class="form-group">
      <label> Costo Adicional</label>
      <input
      type="number"
        name="costo_delivery"
        #costo_delivery="ngModel"
        [(ngModel)]="ventaService.formData.costo_delivery"
        class="form-control"
        (keyup)="updateMontoTotal()"  
        (change)="onDecimal($event)"
        
      />
 
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label> % Descuento</label>
          <input
          type="number"
            name="porcentajeDscto"
            #porcentajeDscto="ngModel"
            [(ngModel)]="ventaService.formData.porcentajeDscto"
            class="form-control"
            readonly
          />
    </div>
    </div>
  <div class="col-md-3">
  <div class="form-group">
    <label> Total Producto</label>
        <input
        type="number"
          name="total_productos"
          #total_productos="ngModel"
          [(ngModel)]="ventaService.formData.total_productos"
          class="form-control"
          readonly
        />
  </div>
  </div>

    </div>



  <!-- ORDER ITEMS TABLE -->
  <table class="table table-borderless">
    <thead class="thead-light">
      <th scope="col">#</th>
      <th>Nombre Producto</th>
      <th>Unidad Medida</th>
      <th>Almacén</th>
      <th>Cantidad Venta</th> 
      <th>Precio Venta</th>
      <!-- <th>Precio Total</th> -->
      <th>Observaciones</th>
      <th>
        <a
          class="btn btn-sm btn-success text-white"
          (click)="AddOrEditOrderItem(null, ventaService.formData.id)"  *ngIf="this.isButtonVisible"
          ><i class="fa fa-plus"></i> Agregar Producto</a
        >
      </th>
    </thead>
    <tbody>
      <tr
        *ngIf="ventaService.detalleCotizacion.length == 0"
        [class.text-danger]="!isValid && ventaService.detalleCotizacion.length == 0
        "
      >
        <td class="font-italic text-center" colspan="5">
          No ah seleccionado Ningun Producto
        </td>
      </tr>
      <tr *ngFor="let item of ventaService.detalleCotizacion; let i = index">
        <!--  <td>{{item.detalleProducto[0].nombre_producto}}</td>  detalleProducto[0].nombre_producto}}</td>   -->
        <!-- <td>{{item.detalleNameProducto}}</td>  -->
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.nombre_producto | uppercase }}</td> 
        <td>{{item.detalleNameUnidadMedida | uppercase}}</td>
        <td>{{item.nombre_alamcen | uppercase}}</td>
        <td>{{ item.cantidad }}</td>
        <td>{{ item.precioVenta }}</td>
        <!-- <td>{{ item.precio_total }}</td> -->
        <td>{{ item.observacion | uppercase }}</td>
        <!-- {{item | json}}    -->
        <td>
          <a
            class="btn btn-sm btn-info text-white"
            (click)="AddOrEditOrderItem(i, ventaService.formData.id)"  *ngIf="this.isButtonVisible"
            ><i class="fa fa-pencil"></i
          ></a>
          <a
            class="btn btn-sm btn-danger text-white ml-1"
            (click)="onDeleteOrderItem(item.id, i)"  *ngIf="this.isButtonVisible"
            ><i class="fa fa-trash"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="form-group">
    <button type="submit" class="btn btn-dark" 
    *ngIf="this.isButtonVisible">
    <i class="fa fa-database"></i> Guardar </button>
    
    <a class="btn btn-outline-dark ml-1" routerLink="../../listarventa"
      ><i class="fa fa-close"></i> Ver Cotizaciones</a
    >
  </div>
</form>
