<div class="row">
  <h4 class="dispaly-4">
    Derivar Delivery - <b>{{ formData.codigo_orden_num_venta }}</b>
  </h4>
</div>
<hr />
<form
  #form="ngForm"
  autocomplete="off"
  *ngIf="formData"
  (submit)="onSubmit(form)"
>
  <input
    type="hidden"
    name="idOrdenVenta"
    #idOrdenVenta="ngModel"
    [(ngModel)]="formData.id"
  />
  <input
    type="hidden"
    name="idDestino"
    #idDestino="ngModel"
    [(ngModel)]="formData.detalleCotizacion[0].detalleTipoCotizacin[0].id"
  />
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <input
      style="text-transform: uppercase"
      type="text"
      name="descrip_tip_cot_venta"
      #descrip_tip_cot_venta="ngModel"
      [(ngModel)]="formData.detalleCotizacion[0].detalleTipoCotizacin[0].descrip_tip_cot_venta"
      class="form-control"
      disabled="disabled"
    />
    </div>
  </div>
  <hr />
  <div class="form-row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Nombre Cliente</label>
        <input
          style="text-transform: uppercase"
          type="text"
          name="nombreCliente"
          #nombreCliente="ngModel"
          [(ngModel)]="formData.detalleCotizacion[0].nombreCliente"
          class="form-control"
          disabled="disabled"
        />
      </div>
    </div>
 
    <div class="col-md-4">
      <div class="form-group">
        <label>Tipo de Pago</label>
        <input
          style="text-transform: uppercase"
          type="text"
          name="tipoPago"
          #tipoPago="ngModel"
          [(ngModel)]="formData.detalleTipoPago[0].descripcion_pago"
          class="form-control"
          disabled="disabled"
        />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Saldo A cobrar</label>
        <input
          type="number"
          name="pagoParcial"
          #pagoParcial="ngModel"
          [(ngModel)]="
            formData.detalleCotizacion[0].totalGeneral - formData.pagoParcial
          "
          class="form-control"
          disabled="disabled"
        />
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Motorizado</label>

      <ng-select
        style="text-transform: uppercase"
        #idEmpleado="ngModel"
        name="idEmpleado"
        bindValue="idEmpleado"
        placeholder="Buscar Motorizado"
        [(ngModel)]="formData.idEmpleado" 
        (change)="onChangeMatch(formData.idEmpleado, formData.detalleCotizacion[0].detalleCliente[0].detalleDistrito[0].id)"
 
      >
      <!-- (change)="onChangeMatch(formData.idEmpleado, formData.idDistrito)" -->
        <ng-option *ngFor="let emp of empleados" [value]="emp.id">{{
          emp.nombre_empleado
        }}</ng-option>
      </ng-select>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <label for="">Fecha Envio</label>
        <div class="input-group">
          <input
            [matDatepicker]="picker"
            placeholder="DD/MM/YYYY"
            name="fechaEnvio"
            #fechaEnvio="ngModel"
            [(ngModel)]="formData.fechaEnvio"
            class="form-control"
            [class.is-invalid]="fechaEnvio.invalid && fechaEnvio.touched"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
        <small
          *ngIf="fechaEnvio.invalid && fechaEnvio.touched"
          class="form-text text-danger"
          >Ingrese Fecha</small
        >
      </div>
    </div>

    <div class="form-group col-md-4" *ngIf="formData.detalleCotizacion[0].detalleTipoCotizacin[0].id == 2">
      <label>Precio Delivery Local</label>
      <input
        name="precioLocal"
        #precioLocal="ngModel"
        [(ngModel)]="formData.precioLocal"
        class="form-control"
        readonly
      />
    </div>

    <div class="form-group col-md-4" *ngIf="formData.detalleCotizacion[0].detalleTipoCotizacin[0].id == 1">
      <label>Precio Delivery Provincia </label>
      <input
        name="precioProvincia"
        #precioProvincia="ngModel"
        [(ngModel)]="formData.precioProvincia"
        class="form-control"
      />
    </div>
  </div>
  <div class="form-row" *ngIf="formData.detalleCotizacion[0].detalleTipoCotizacin[0].id == 1">
    <div class="col-md-4">
      <div class="form-group">
        <label> Departamento</label>
        <input
        style="text-transform: uppercase"
        type="text"
        name="nombre"
        #nombre="ngModel"
        [(ngModel)]="formData.detalleCotizacion[0].detalleCliente[0].detalleDepartamento[0].nombre"
        class="form-control"
        disabled="disabled"
      />
  
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label> Provincia</label>
        <input
        style="text-transform: uppercase"
        type="text"
        name="nombre_provincia"
        #nombre_provincia="ngModel"
        [(ngModel)]="formData.detalleCotizacion[0].detalleCliente[0].detalleProvincia[0].nombre_provincia"
        class="form-control"
        disabled="disabled"
      />
 
      </div>
    </div>
    <div class="form-group col-md-4">
      <label> Distrito</label>

      <input
      style="text-transform: uppercase"
      type="text"
      name="nombre_distrito"
      #nombre_distrito="ngModel"
      [(ngModel)]="formData.detalleCotizacion[0].detalleCliente[0].detalleDistrito[0].nombre_distrito"
      class="form-control"
      disabled="disabled"
    />
 
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-8">
      <label>Detalle Envio</label>
      <input
        style="text-transform: uppercase"
        type="text"
        name="detalleEmpDev"
        #detalleEmpDev="ngModel"
        [(ngModel)]="formData.detalleEmpDev"
        class="form-control"
      />
    </div>

    <div class="form-group col-md-4" *ngIf="formData.detalleCotizacion[0].detalleTipoCotizacin[0].id == 2">
      <label> Distrito Local</label>

      <input
      style="text-transform: uppercase"
      type="text"
      name="idDistrito"
      #idDistrito="ngModel"
      [(ngModel)]="formData.detalleCotizacion[0].detalleCliente[0].detalleDistrito[0].nombre_distrito"
      class="form-control"
      (change)="onChangeMatch(formData.idEmpleado, formData.detalleCotizacion[0].detalleCliente[0].detalleDistrito[0].id)"
      disabled="disabled"
    />
      <!-- <ng-select
        style="text-transform: uppercase"
        #idDistrito="ngModel"
        name="idDistrito"
        bindValue="idDistrito"
        placeholder="Buscar Distrito"
        [(ngModel)]="formData.idDistrito"
        (change)="onChangeMatch(formData.idEmpleado, formData.detalleCotizacion[0].detalleCliente[0].detalleDistrito[0].id)"
      >
        <ng-option *ngFor="let emp of distritosMatch" [value]="emp.id">{{
          emp.nombre_distrito
        }}</ng-option>
      </ng-select> -->
    </div>
  </div>
  <br />
  <div class="form-group">
    <button type="submit" class="btn btn-dark" *ngIf="this.isButtonVisible">
      <i class="fa fa-database"></i> Guardar
    </button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]>
      <i class="fa fa-close"></i> Salir
    </button>
  </div>
</form>
