<h1> <small>Editar Tipo Salida</small></h1>
<hr />
<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="../listartiposalida">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>
<br />
<div class="row animated fadeIn faster" mb-3 row >
  <div class="col">
      <form action="">
        <div class="form-group">
          <label  class="form-label">Tipo Salida</label>
          <input
            type="text"
            [(ngModel)]="tiposalidas[0].descripcion_salida"
            name="tipo_documento"
            class="form-control"
          
          />
          <!-- [(ngModel)]="xxx"  -->
        </div>
        <div class="form-group">
          <label>Estado</label>
          <br />
          <button
            *ngIf="tiposalidas[0].estado"
            (click)="tiposalidas[0].estado = false"
            class="btn btn-outline-success w-50"
            type="button"
          >
            <i class="fa fa-smile-wink"></i>
            Activo
          </button>
          <button
            *ngIf="!tiposalidas[0].estado"
            (click)="tiposalidas[0].estado = true"
            class="btn btn-outline-danger w-50"
            type="button"
          >
            <i class="fa fa-dizzy"></i>
            Inactivo
          </button>
        </div>     
        <hr>
        <div class="form-group text-center">
          <button (click)="Actualizar([tiposalidas[0]])"    class="btn btn-primary w-25">
              <i class="fa fa-save"></i>
              Actualizar
          </button>
      </div>
      </form>
    </div>
  </div>
 
