<!-- <nav class="navbar navbar-expand-md navbar-light bg-faded" style="background-color: #e3f2fd;">
 
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
 

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

       
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['../listarcotizacion']">ACTIVAS</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['../listarcotianulada']">ANULADAS</a>
          </li>
        
      </ul>
 
  </div>
</nav>  -->
<div class="col-md-12">
  <div class="card"> 
          <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                      <span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">ESTADOS</span>
                  </a>
                  <div class="dropdown-menu"> 
                    <a class="dropdown-item" id="dropdown1-tab"[routerLink]="['../listarcotizacion']" role="tab" data-toggle="tab" aria-controls="dropdown1">Activas</a> 
                    <a class="dropdown-item" id="dropdown2-tab" [routerLink]="['../listarcotianulada']"  role="tab" data-toggle="tab" aria-controls="dropdown2">Anuladas</a> </div>
              </li> 
          </ul> 
  </div>
</div> 
 



<h1>Listado Cotización Activas </h1> 
<div class="row">
  <div class="col-md-11 text-left">

    <input type="text"
    class="form-control"
    placeholder="Buscar Cotización"
    #txtSearch
    (keyup)="onSearchPokemon( txtSearch.value )" /> 
  </div>
  <div class="col text-right">

    <button routerLink="/kardex/cotizacion/nuevo" class="btn btn-primary">
      <i class="fa fa-plus"> Agregar </i>
    </button>
  </div>
</div>
<hr> 
<br>
<table class="table table-hover">
    <thead class="thead-dark">
      <!-- <th scope="col">#</th> -->
        <th scope="col">#Cotizacion Nro</th>
        <th scope="col">Proveedor</th>
        <th scope="col">Empleado</th>
        <th scope="col">Total</th>
       
        <th scope="col">Estado</th>
      
      
    </thead>
    <tbody>
        <tr *ngFor="let item of cotizaciones  | filtro:page:search; let i = index" >
          <!-- <th scope="row">{{ i + 1 }}</th> -->
          <th (click)="openForEdit(item.id)">{{item.codigo_cotizacion_num}}</th>
          <!-- <th (click)="item.idEstadoFlujo != 2 && openForEdit(item.id) ">{{item.codigo_cotizacion_num}}</th> -->
          <td (click)="openForEdit(item.id)">{{item.detalleProovedor[0].nombre_proovedor}}</td>
          <td (click)="openForEdit(item.id)">{{item.detalleEmpleado[0].nombre_empleado}}</td>
          <td (click)="openForEdit(item.id)">{{item.total_costo}}</td>
          <!-- <td (click)="openForEdit(item.id)">{{item.idEstadoFlujo}}</td> -->
     
          <td>
            <label *ngIf="item.idEstadoFlujo == 2" class="badge bg-success"
              >
 
              Cerrado</label
            >
            <label *ngIf="item.idEstadoFlujo == 1" class="badge bg-warning text-dark"
              >Pendiente</label
            >
            <label *ngIf="item.idEstadoFlujo == 3" class="badge badge-danger"
            >Anulado</label
          >
          </td>
         
       <td>
            <button class="btn btn-outline-dark" (click)="EstadoCotizacionAnular(item, i)">
                 <i class="far fa-times-circle"></i>
         </button>  
         <button class="btn btn-outline-dark" (click)="borrarCotizacion(item, i)">
          <i class="fa fa-trash"></i> 
              <!-- <i class="far fa-times-circle"></i> -->
      </button> 
        
        </td>  
        
           <!-- <td> <button class="btn btn-info mr-1" (click)="openForEdit(item.id)">            
          <i class="fa fa-pen"></i> 
          </button>
        </td> -  -->
        </tr>
      </tbody>
</table>
<!-- <div class="col text-right">
<button class="btn btn-primary"
        (click)="prevPage()">
    Anteriores
</button>
&nbsp;
<button class="btn btn-primary"
        (click)="nextPage()"
        [disabled]="(cotizaciones | filtro:page:search).length === 0">
    Siguientes
</button>
</div> -->
<div
  *ngIf="!cargando && cotizaciones.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">No hay registros</h4>
  <p>
    <i class="fa fa-exclamation fa-2px"></i>
  </p>
  <p class="mb-0">Espere por favor</p>
</div>
<div
  *ngIf="cargando"
  class="alert alert-info text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2px"></i>
  </p>
  <p class="mb-0">Espere por favor</p>
</div>
