<h1><small>Agregar Categoria</small></h1>
<hr />
<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="../listarnrocuenta">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>
<br />
<div class="row animated fadeIn faster">
  <div class="col">
    <form [formGroup]="loginForm" (ngSubmit)="AddCategoria(loginForm.value)">
      <div class="form-group">
        <label  class="form-label">Nombre Categoria</label>
        <input
          type="text"
          id="nombre_categoria"
          class="form-control"
          placeholder="Nombre Categoria"
          formControlName="nombre_categoria"
        />
      </div>
      <!-- <input type="password" id="password" class="fadeIn third"  placeholder="password" formControlName="password"> -->
      <br />
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
