  <nav class="navbar navbar-expand-md navbar-light bg-faded" style="background-color: #e3f2fd;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
  
         
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['../listarsalida']">Salida O/C</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['../listarsalidasinoc']">Salida sin O/C</a>
            </li>
          
        </ul>
  
    </div>
  </nav>

  <br>

  <h1>Listado Ingresos Entrada Almacén sin O/C </h1>
  <hr />
  <table class="table table-hover">
    <thead class="thead-dark">
      <th scope="col">#</th>
        <th scope="col">#Nro Ingreso</th>
          <th scope="col">Tipo Movimiento</th>
          <th scope="col">Fecha</th> 
       <th scope="col">Nro Cotización</th>  
       <th scope="col">Empleado</th>
 
      
    </thead>
    <tbody>
        <tr *ngFor="let item of ListIngresoSinOcCerrados; let i = index" >
          <th scope="row">{{ i + 1 }}</th>
          <th (click)=" openForEdit(item.id) ">{{item.nroIngreso}}</th>
           <td (click)=" openForEdit(item.id)">{{item.detalleTipoIngreso[0].descripcion_ingreso}}</td>
           <td (click)=" openForEdit(item.id)">{{item.detalleTipoIngreso[0].descripcion_ingreso}}</td>
           <td (click)=" openForEdit(item.id)">{{item.detalleCotizacion[0].codigo_cotizacion_num}}</td>
           <td (click)=" openForEdit(item.id)">{{item.detalleCotizacion[0].detalleEmpleado[0].nombre_empleado}}</td>
      
          <td>
            <button class="btn btn-outline-dark" (click)="EstadoEntradaAnular(item, i)">
                 <i class="fa fa-pen"></i> 
         </button> 
 
        </td>  
        </tr>
    </tbody>
  </table>  
