   
 
  <div class="col-md-12">
    <div class="card"> 
  
            <ul class="nav nav-tabs" id="myTab" role="tablist">
      
                    <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Kardex</span>
                    </a>
                    <div class="dropdown-menu"> 
                      <a class="dropdown-item" id="dropdown2-tab" [routerLink]="['../Listarkardex']"  role="tab" data-toggle="tab" aria-controls="dropdown2">Listado Kardex</a> 
                      <a class="dropdown-item" id="dropdown1-tab"[routerLink]="['../salidas']" role="tab" data-toggle="tab" aria-controls="dropdown1">Listado Salida</a> 
                      <a class="dropdown-item" id="dropdown1-tab"[routerLink]="['../transferencias']" role="tab" data-toggle="tab" aria-controls="dropdown1">Listado Transferencias</a> </div>
                           
                </li>
 
            </ul> 
    </div>
  </div>  

  <h1>Listado Transferencias</h1>

<hr />

<table class="table table-hover">
  <thead class="thead-dark">
    <th scope="col">#</th>
      <th scope="col">#Nro Transferencia</th>
    
        <th scope="col">Producto</th> 
     <th scope="col">Fecha Transferencia</th>  
     <th scope="col">Almacén Saliente</th>
     <th scope="col">Cantidad Saliente</th>
     <th scope="col">Almacén Entrante</th>
     <th scope="col">Cantidad Entrante</th>
     <th scope="col">Detalle Transferencia</th>
   
      <!--  <th scope="col">Total</th>
      <th scope="col">Estado</th> -->
    
  </thead>
  <tbody>
      <tr *ngFor="let item of ListTranferencia; let i = index" >
        <th scope="row">{{ i + 1 }}</th>
        <th><b>{{item.codigoTransfer}}</b></th> 
         <td><b>{{item.detalleNameProducto}}</b></td> 
         <td>{{item.fechaTransferencia}}</td>     
         <td>{{item.detalleSedePrincipal[0].nombre_alamcen}}</td>
         <td style="color:#fb0000">-{{item.cantidadTransferencia}}</td> 
         <td>{{item.detalleSedeSecundaria[0].nombre_alamcen}}</td>
         <td style="color:#3145FF">{{item.cantidadTransferencia}}</td> 
         <td>{{item.detalleTransferencia}}</td> 
        
         </tr>
  </tbody>
</table>

<div
*ngIf="!cargando && ListTranferencia.length === 0"
class="alert alert-warning text-center mt-3 animated fadeIn faster"
>
<h4 class="alert-heading">No hay registros</h4>
<p>
  <i class="fa fa-exclamation fa-2px"></i>
</p>
<p class="mb-0">Espere por favor</p>
</div>
<div
*ngIf="cargando"
class="alert alert-info text-center mt-3 animated fadeIn faster"
>
<h4 class="alert-heading">Cargando</h4>
<p>
  <i class="fa fa-sync-alt fa-spin fa-2px"></i>
</p>
<p class="mb-0">Espere por favor</p>
</div>
