
<h1><small>Agregar Detalles</small></h1>
<hr />
<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="../../listarcotizacion">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>
<br />

<form
  #form="ngForm"
  autocomplete="off"
  *ngIf="kardexService.formData"
  (submit)="onSubmit(form)"
>
  <input
    type="hidden"
    name="id"
    #id="ngModel"
    [(ngModel)]="kardexService.formData.id"
  />
  <input
  type="hidden"
  name="fecha_entrega"
  #fecha_entrega="ngModel"
  [(ngModel)]="kardexService.formData.fecha_entrega"
/>
<!-- EMPLEADO -->
   <input
  type="hidden"
  name="nombre_empleado"
  #nombre_empleado="ngModel"
  [(ngModel)]="kardexService.formData.nombre_empleado"
/>  
<input
type="hidden"
name="idEmpleado"
#idEmpleado="ngModel"
[(ngModel)]="kardexService.formData.idEmpleado"
/>
<!-- PROVEEDOR -->
  <input
type="hidden"
name="nombre_proovedor"
#nombre_proovedor="ngModel"
[(ngModel)]="kardexService.formData.nombre_proovedor"
/>  
<input
type="hidden"
name="idProovedor"
#idProovedor="ngModel"
[(ngModel)]="kardexService.formData.idProovedor"
/>

 

<input
type="hidden"
name="total_costo"
#total_costo="ngModel"
[(ngModel)]="kardexService.formData.total_costo"
/>
<input
type="hidden"
name="costo_envio"
#costo_envio="ngModel"
[(ngModel)]="kardexService.formData.costo_envio"
/>


<div class="row"> 
  <div class="col-md-4">
    <div class="form-group">
      <label> Tipo Cotización  </label>
      <ng-select  
      style="text-transform:uppercase"
        #idTipoCotizacion="ngModel"  
        name="idTipoCotizacion" 
        bindValue="idTipoCotizacion" 
        placeholder="Buscar Tipo Cotización" 
        [(ngModel)]="kardexService.formData.idTipoCotizacion"  
      >   
          <ng-option *ngFor="let emp of tipocotizacion" 
          [value]="emp.id">{{emp.detalle_tcotizacion}}</ng-option>
       </ng-select> 
    </div> 
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="form-group">
      <label for="">Fecha Cotización</label>
      <div class="input-group">
        <input 
        [matDatepicker]="picker"
        placeholder="DD/MM/YYYY" 
        name="fecha_entrega"
        #fecha_entrega="ngModel" 
        [(ngModel)]="kardexService.formData.fecha_entrega"
        class="form-control"  
        [class.is-invalid]="fecha_entrega.invalid && fecha_entrega.touched"
          required 
      />  
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      </div>
      <small *ngIf="fecha_entrega.invalid && fecha_entrega.touched"
      class="form-text text-danger">Ingrese Fecha</small>
    </div>
  </div>


</div>


<div class="row">

  <div class="col-md-4">
    <div class="form-group">
      <label> Cotización Nro.  </label>
      <input
        name="codigo_cotizacion_num"
        #codigo_cotizacion_num="ngModel"
        [(ngModel)]="kardexService.formData.codigo_cotizacion_num"
        class="form-control"
        readonly
      />
    </div> 
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label> Proveedor</label> 
      <ng-select 
      style="text-transform:uppercase"
      [items]="proveedores"
     bindLabel="nombre_proovedor"
     bindValue="id" 
     placeholder="Buscar Proveedor"
     [(ngModel)]="kardexService.formData.idProovedor"
     (change)="onChangeProveedor($event)" 
      >
       

</ng-select>  
    </div>
  </div>
  <div class="col-md-4">
  <div class="form-group">
    <label> Tipo Moneda</label>
    <ng-select  
    style="text-transform:uppercase"
    #idTipoMoneda="ngModel"  
    name="idTipoMoneda" 
    bindValue="idTipoMoneda" 
    placeholder="Buscar Tipo Moneda" 
    [(ngModel)]="kardexService.formData.idTipoMoneda"  
  >   
      <ng-option *ngFor="let emp of tipoMoneda" [value]="emp.id">{{emp.nombre_moneda}}</ng-option>
   </ng-select> 
    <!-- <select 
    name="idTipoMoneda" 
    #idTipoMoneda="ngModel" 
    [(ngModel)]="kardexService.formData.idTipoMoneda"
    class="form-control" 
    [class.is-invalid]="!isValid && kardexService.formData.idTipoMoneda==0"
  
    >
      <option value="0">-Seleccione Tipo Moneda-</option>
      <option value="1">SOLES</option>
      <option value="2">DOLARES</option>
    
    </select>  -->
  </div> </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>Empleado</label>

      <ng-select  
      style="text-transform:uppercase"
      #idEmpleado="ngModel"  
      name="idEmpleado" 
      bindValue="idEmpleado" 
      placeholder="Buscar Empleado" 
      [(ngModel)]="kardexService.formData.idEmpleado"  
    >   
        <ng-option *ngFor="let emp of empleados" [value]="emp.id">{{emp.nombre_empleado}}</ng-option>
     </ng-select> 
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label> Linea </label>
      <ng-select  
      style="text-transform:uppercase"
        #idLinea="ngModel"  
        name="idLinea" 
        bindValue="idLinea" 
        placeholder="Buscar Linea" 
        [(ngModel)]="kardexService.formData.idLinea"  
      >   
          <ng-option *ngFor="let emp of linea" 
          [value]="emp.id">{{emp.detalle_linea}}</ng-option>
       </ng-select> 
    </div> 
  </div>
  <div class="col-md-4">
  <div class="form-group">
    <label> Monto Total</label>
    <input
      name="totalGeneral"
      #totalGeneral="ngModel"
      [(ngModel)]="kardexService.formData.totalGeneral"
      class="form-control" 
      readonly
    /> 
  </div>

  </div>
  
</div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label> Detalle Cabecera</label>
        <input
        style="text-transform:uppercase"
        class="form-control" 
          type="text"
          name="detalle"
          placeholder="Ingresar Detalle"         
          #detalle="ngModel"
          [(ngModel)]="kardexService.formData.detalle"
          class="form-control" 
         
         
        
        />
        <!-- [class.is-invalid]="detalle.invalid && detalle.touched"
        minlength="5" -->
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      <div class="form-group">
        <label> Descuento Cotización %</label>
        <input
        type="number"
          name="descuento_cot"
          #descuento_cot="ngModel"
          [(ngModel)]="kardexService.formData.descuento_cot"
          class="form-control"
          (keyup)="updateMontoTotal()"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label> % Descuento</label>
            <input
              name="porcentajeDscto"
              #porcentajeDscto="ngModel"
              [(ngModel)]="kardexService.formData.porcentajeDscto"
              class="form-control"
              readonly
            />
      </div>
      </div>
    <div class="col-md-3">
    <div class="form-group">
      <label> Costo Envio </label>
      <input
      type="number"
        name="costo_envio"
        #costo_envio="ngModel"
        [(ngModel)]="kardexService.formData.costo_envio"
        class="form-control"
        (keyup)="updateMontoTotal()" 
      />
 
    </div>
  </div>
  <div class="col-md-3">
  <div class="form-group">
    <label> Total Producto</label>
        <input
          name="total_costo"
          #total_costo="ngModel"
          [(ngModel)]="kardexService.formData.total_costo"
          class="form-control"
          readonly
        />
  </div>
  </div>

    </div>
 
  <!-- ORDER ITEMS TABLE -->
  <table class="table table-borderless">
    <thead class="thead-light">
      <th scope="col">#</th>
      <th>Nombre Producto</th>
      <th>Cantidad</th>
      <th>Unidad Medidad</th>
      <th>Precio Unidad</th>
      <th>Precio Total</th>
      <th>Observaciones</th>
      <th>
        <a
          class="btn btn-sm btn-success text-white"
          (click)="AddOrEditOrderItem(null, kardexService.formData.id)"  *ngIf="this.isButtonVisible"
          ><i class="fa fa-plus"></i> Agregar Producto</a
        >
      </th>
    </thead>
    <tbody>
      <tr
        *ngIf="kardexService.detalleCotizacion.length == 0"
        [class.text-danger]="!isValid && kardexService.detalleCotizacion.length == 0
        "
      >
        <td class="font-italic text-center" colspan="5">
          No ah seleccionado Ningun Producto
        </td>
      </tr>
      <tr *ngFor="let item of kardexService.detalleCotizacion; let i = index">
        <!--  <td>{{item.detalleProducto[0].nombre_producto}}</td>  detalleProducto[0].nombre_producto}}</td>   -->
        <!-- <td>{{item.detalleNameProducto}}</td>  -->
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.nombre_producto | uppercase}}</td>
        <td>{{ item.cantidad }}</td>
        <td>{{item.detalleNameUnidadMedida | uppercase}}</td>
        <td>{{ item.precio_unidad }}</td>
        <td>{{ item.precio_total }}</td>
        <td>{{ item.observaciones | uppercase }}</td>
        <!-- {{item | json}}    -->
        <td>
          <a
            class="btn btn-sm btn-info text-white"
            (click)="AddOrEditOrderItem(i, kardexService.formData.id)"  *ngIf="this.isButtonVisible"
            ><i class="fa fa-pencil"></i
          ></a>
          <a
            class="btn btn-sm btn-danger text-white ml-1"
            (click)="onDeleteOrderItem(item.id, i)"  *ngIf="this.isButtonVisible"
            ><i class="fa fa-trash"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="form-group">
    <button type="submit" class="btn btn-dark" 
    *ngIf="this.isButtonVisible">
    <i class="fa fa-database"></i> Guardar </button>
    
    <a class="btn btn-outline-dark ml-1" routerLink="../../listarcotizacion"
      ><i class="fa fa-close"></i> Ver Cotizaciones</a
    >
  </div>
</form>
