<h4 class="dispaly-6">
    Insertar Productos
  
    <!-- <button class="btn btn-secondary pull-right" (click)="MatchKardex(formData.idProducto, formData.idAlmacen) ">Consultar</button> -->
  </h4>
  
  <hr />
  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="formData.id" />
    <input
      type="hidden"
      name="idCotizacionVentaDirecta"
      #idCotizacionVentaDirecta="ngModel"
      [(ngModel)]="formData.idCotizacionVentaDirecta"
    />
    <input
      type="hidden"
      name="nombre_producto"
      #nombre_producto="ngModel"
      [(ngModel)]="formData.nombre_producto"
    />
    <input
      type="hidden"
      name="nombre_alamcen"
      #nombre_alamcen="ngModel"
      [(ngModel)]="formData.nombre_alamcen"
    />
  
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Buscar Producto</label>
  
        <ng-select
        style="text-transform: uppercase"
          #idProducto="ngModel"
          name="idProducto"
          bindValue="idProducto"
          placeholder="Buscar Producto"
          [(ngModel)]="formData.idProducto"
          (change)="onChange($event)"
          (change)="onChangeMatch(formData.idProducto, formData.idAlmacen)"
        >
          <ng-option *ngFor="let emp of productos" [value]="emp.id" [disabled]="emp.estado == 0">{{
            emp.nombre_producto
          }}</ng-option>
        </ng-select>
      </div>
      <div class="form-group col-md-4">
        <label>Unidad Medida </label>
        <input
          type="text"
          name="detalleNameUnidadMedida"
          #detalleNameUnidadMedida="ngModel"
          [(ngModel)]="formData.detalleNameUnidadMedida"
          class="form-control"
          readonly
        />
      </div>
  
      <div class="col-md-4">
        <div class="form-group">
          <label> Almacén</label>
          <ng-select
          style="text-transform:uppercase"
            [items]="almacen"
            bindLabel="nombre_alamcen"
            bindValue="id"
            name="idAlmacen"
            #idAlmacen="ngModel"
            placeholder="Buscar Almacén"
            [(ngModel)]="formData.idAlmacen"
            (change)="onChangeMatch(formData.idProducto, formData.idAlmacen)"
            (change)="onChangeAlmacen($event)"
          >
          </ng-select>
        </div>
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Precio Venta</label>
        <!-- (keyup)="updateTotal()" -->
        <input
          type="number"
          name="precioVenta"
          #precioVenta="ngModel"
          [(ngModel)]="formData.precioVenta"
          class="form-control"
          [class.is-invalid]="!isValid && formData.precioVenta == 0"
          readonly
        />
      </div>
      <div class="form-group col-md-4">
        <label>Stock Kardex</label>
        <input
          name="stock"
          #stock="ngModel"
          [(ngModel)]="formData.stock"
          class="form-control"
          readonly
        />
      </div>
  
      <div class="form-group col-md-4">
        <label>Cantidad Venta</label>
        <input
          type="number"
          name="cantidad"
          #cantidad="ngModel"
          [(ngModel)]="formData.cantidad"
          class="form-control"
          [class.is-invalid]="!isValid && formData.cantidad == 0"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Observaciones</label>
        <input
        style="text-transform:uppercase"
          name="observacion"
          #observacion="ngModel"
          [(ngModel)]="formData.observacion"
          class="form-control"
        />
      </div>
    </div>
  
    <div class="form-group">
      <button type="submit" class="btn btn-dark">
        <i class="fa fa-database"></i> Guardar
      </button>
      <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]>
        <i class="fa fa-close"></i> Salir
      </button>
    </div>
  </form>
  